header {
}

.header-logo-searchbar {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
    flex-flow: row;
    justify-content: center;
    align-items: center;
    max-width: 1584px;
    margin: 23px auto 32px auto;
}

.header-search {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
    flex: 1 0 auto;
    margin-left: 55px;
    margin-right: 29px;
    min-width: 206px;
    grid-area: search;
}

.header-search-input {
    width: 100%;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #0092D2;
    border-right: 0;
    border-radius: 4px 0px 0px 4px;
    padding: 0 13px 0 13px;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    color: #74838A;
    letter-spacing: 0;
}

.header-search-input-addon {
    min-width: 48px;
    min-height: 48px;
    background: #0092D2;
    border-radius: 0 4px 4px 0;
    border-width: 0;
    cursor: pointer;
    background-image: url("/icon-search-white-20.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.header-button {
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4px;
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
    flex-flow: column;
    height: 62px;
    text-align: center;
    text-decoration: none;
    width: 100px;
}

    .header-button:hover {
        background-color: #F6F9FC;
    }

.header-button-text {
    align-self: center;
    color: #003247;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 11.6px;
    letter-spacing: -0.06px;
    margin-top: auto;
    text-transform: uppercase;
}

#header-website-selector {
    grid-area: websiteSelector;
}

.header-website-selector {
    border-color: black;
    vertical-align: middle;
}

.header-admin {
    background-image: url("/icon-user-blue-24.svg");
    grid-area: favorites;
}

.header-favorites {
    background-image: url("/icon-star-blue-24.svg");
    grid-area: favorites;
}

.header-shopping-cart {
    background-image: url("/icon-cart-full-blue-24.svg");
    justify-content: center;
    align-items: center;
    grid-area: shoppingCart;
}

.header-shopping-cart-quantity, .header-overview-count {
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 13px;
    color: #FFFFFF;
    letter-spacing: -0.5px;
    background: #FF6400;
    border-radius: 12px;
    margin-left: 32px;
    margin-top: 8px;
    padding-left: 6px;
    padding-right: 7px;
    min-width: 24px;
    height: 24px;
}

#header-shopping-cart-quantity {
    text-decoration: none;
}

.header-overview {
    background-image: url("/icon-user-blue-24.svg");
    grid-area: overview;
}

/*
-------------------------------------------------- */

.header-nav-container {
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    max-width: 1584px;
    margin: 24px 0 0 0;
    text-transform: uppercase;
    grid-area: navContainer;
    display: flex;
    flex-wrap: wrap;
    height: 46px;
    overflow: hidden;
    justify-content: start !important;
    padding: 0;
}

nav {
    height: 48px;
    line-height: 46px;
    overflow: hidden;
    white-space: nowrap;
}

    nav a.active {
        border-bottom: 2px solid #003247;
    }

    nav a {
        display: inline-block;
        font-size: 13px;
        color: #003247;
        padding-left: 11px;
        padding-right: 11px;
        letter-spacing: -0.16px;
        text-decoration: none;
    }

.nav-item {
    float: left;
}

.nav-dropdown {
    display: inline-block;
    float: left;
    margin: 0 8px 0 0;
    border-radius: 4px 4px 0 0;
}
    .nav-dropdown.active {
        background-color: #003247;
    }
        .nav-dropdown.active .nav-category-button {
            color: white;
            background-image: url("/assets/icon-arrowdown-white-12.svg");
        }
            .nav-dropdown.active .nav-category-button:hover {
                color: #0092D2;
            }

.nav-dropdown.active > [id^=nav]:checked + .nav-category-button {
    background-image: url("/assets/icon-arrowup-white-12.svg");
}

/*
    .nav-dropdown:hover .nav-dropdown-content, .nav-dropdown:active .nav-dropdown-content {
        display: block;
    }
*/
.nav-dropdown-button {
    background-color: #0092D2;
    background-image: url("/icon-arrowdown-white-16.svg");
    background-repeat: no-repeat;
    background-position: right 12px top 14px;
    border-radius: 4px 4px 0 0;
    color: white;
    cursor: pointer;
    font-size: 14.6px;
    height: 46px;
    line-height: 46px;
    padding: 0 40px 0 14px;
    vertical-align: middle;
    box-sizing: content-box;
    user-select: none;
    margin: 0;
}
    .nav-dropdown-button:hover {
        background-color: #003247;
    }

.nav-dropdown-content {
    background-color: white;
    box-shadow: 0 12px 16px 0 rgba(22,60,92,0.16), inset 0 4px 0 0 #003247;
    display: none;
    margin: 0;
    padding: 0;
    min-width: 300px;
    position: absolute;
    white-space: nowrap;
    z-index: 999;
    width: 100%;
    left: 0;

    flex-flow: row wrap;
    padding: 2rem 1rem;
    visibility: hidden;

    contain: content;
    max-height: calc(100vh - 150px);
    overflow-y: auto;
    flex: 1 1 auto;
}

.nav-dropdown-content li {
    list-style: none;
}

.nav-dropdown-content a {
    color: #003247;
    display: inline-block;
    text-decoration: none;
    width: 100%;
}

.category-header {
    font-family: 'Open Sans-Bold', sans-serif;
    font-size: 15px;
    color: #003247;
    letter-spacing: -0.4px;
    text-align: left;
    line-height: 20px;
    font-weight: 600;
    user-select: none;
    outline: none;
    margin: 0 0 1rem 0;
    padding: 0;
}

    .category-header:hover {
        color: #0092D2;
    }

.category-container > .category-header-container {
    min-height: 13rem;
    margin-bottom: 24px;
    padding: 0 !important;
}

.category-group-container {
    padding: 0 0 44px 0;
}

.category-sub-group {
    padding: 0;
    display: flex;
    flex-direction: column;
}

.sub-sub {
    display: none !important;
}

.category-sub-container {
    padding: .25rem 0;
    display: none;
}

.category-sub-container:nth-child(-n+5) {
    display: flex;
}

.category-header-container:nth-child(-n+5) {
    display: flex;
    padding: 4px 0;
}

.category-sub-container:first-child {
    padding-top: 0 !important;
}

.category-sub {
    font-family: 'OpenSans', sans-serif;
    font-size: 13px;
    color: #003247;
    letter-spacing: -0.09px;
    text-align: left;
    line-height: 16px;
    font-weight: 400;
    text-transform: none;
    padding: 0 0 0 4px;
}

    .category-sub:hover {
        color: #0092D2;
    }

.category-viewall {
    font-family: 'OpenSans', sans-serif;
    font-size: 13px;
    color: #0092D2 !important;
    letter-spacing: -0.29px;
    text-align: left;
    font-weight: 400;
    text-transform: capitalize;
    padding: 0 0 0 4px;
    display: block;
}

.toggle,
[id^=nav],
[id^=drop] {
    display: none;
}

.toggle {
    display: block;
}

[id^=nav]:checked + .nav-dropdown-button,
[id^=nav]:checked + .nav-dropdown-content {
    background: #003247;
    background-image: url("/icon-arrowup-white-16.svg");
    background-repeat: no-repeat;
    background-position: right 12px top 14px;
}

[id^=nav]:checked ~ div,
[id^=nav]:checked ~ ul {
    display: flex;
    visibility: visible;
}

.category-sub-sub-group {
    display: none;
}

.arrowforward {
    display: flex;
    width: 10px;
    height: 10px;
    display: block;
    background-image: url('/assets/icon-arrowforward-blue-10.svg');
    background-repeat: no-repeat;
}

.arrowdown-darkgrey {
    display: flex;
    width: 12px;
    height: 12px;
    display: block;
    background-image: url('/assets/icon-arrowdown-darkgrey-12.svg');
    background-repeat: no-repeat;
}

.nav-category-button {
    font-family: 'Open Sans-Bold', sans-serif;
    font-size: 13px;
    color: #003247;
    letter-spacing: -0.09px;
    line-height: 18px;
    font-weight: 700;
    padding: 12px 32px 16px 14px;
    height: 46px;
    margin: 0;
    background-image: url('/assets/icon-arrowdown-darkgrey-12.svg');
    background-repeat: no-repeat;
    background-position: right 12px top 16px;
    user-select: none;
    cursor: pointer;
    border-radius: 4px 4px 0 0;
}
    .nav-category-button:hover {
        color: #0092D2;
    }

[id^=nav]:checked + .nav-category-button {
    background: #003247;
    background-image: url("/assets/icon-arrowup-white-12.svg");
    background-repeat: no-repeat;
    background-position: right 12px top 16px;
    color: #FFFFFF;
}

.logo {
    background-image: url("/logo-lasaulec-no-byline.svg");
    width: 185px;
    height: 33px;

    grid-area: logo;
}

.header {
    display: grid !important;
    grid-template-areas:
        "logo search websiteSelector favorites overview shoppingCart"
        "navContainer navContainer navContainer navContainer navContainer navContainer";
    grid-template-columns: auto 1fr repeat(4, auto);
    grid-template-rows: repeat(2, auto);
    justify-content: center;
    align-items: center;
    max-width: 1584px;
    width: 100%;
    padding: 0;
}

.separator {
    width: 100%;
    position: absolute;
    left: 0;
    margin: 0;
    align-self: end;
    border-bottom: 1px solid #C7D2D9;
    z-index: -1;
}

@media screen and (max-width: 785px) {
    .header {
        grid-template-areas:
            "logo websiteSelector favorites overview shoppingCart"
            "navContainer navContainer navContainer navContainer navContainer"
            "search search search search search";
        grid-template-columns: 1fr repeat(3, auto);
        grid-template-rows: repeat(3, auto);
        margin-left: 0 !important;
        padding: 10px 16px;
    }

    .header-button {
        width: 64px;
    }

    .header-button-text {
        display: none;
    }

    .header-shopping-cart {
        justify-content: start;
    }

    .logo {
        background-image: url("/assets/logo-mobile.svg");
        width: 32px;
        height: 32px;
    }

    .nav-category-button {
        display: none;
    }

    ul {
        display: none;
    }

    .arrowforward {
        display: none;
    }

    .category-header {
        height: 52px;
        margin: 0;
        padding: 0 0 0 16px;
    }

    .category-container > .category-header-container {
        min-height: 1rem;
        margin: 0;
    }

    .category-header-container {
        box-shadow: inset 0 -1px 0 0 #C7D2D9;
        min-width: 100%;
        flex-grow: 1;
        padding: 0 !important;
    }

    .category-header-container label {
        display: flex;
        visibility: visible;
    }

    .category-sub-group > * {
        display: flex;
    }

    .category-sub-group {
        background: #F6F9FC;
        padding: 0 0 0 40px;
        display: none;
    }

    .category-sub-container {
        height: 52px;
        padding: 0;
        display: flex;
        padding: 0 0 0 24px;
        box-shadow: inset 0 -1px 0 0 #C7D2D9;
    }

    .category-sub {
        text-transform: uppercase;
        font-size: 13.6px;
        color: #003247;
        letter-spacing: -0.31px;
        text-align: left;
        line-height: 16px;
        font-weight: 600;
        height: 52px;
        box-shadow: inset 0 -1px 0 0 #C7D2D9;
        padding: 0 0 0 40px;
    }

    .category-viewall {
        display: none !important;
    }

    .category-arrow {
        background-image: url("/icon-arrowdown-blue-16.svg");
        background-repeat: no-repeat;
        background-position: center center;
        width: 6rem;
        height: 52px;
        display: flex;
        margin: 0;
        padding: 0;
    }

    .nav-dropdown-content {
        flex-direction: column;
        padding: 4px 0 0 0;
        margin: 0;
    }

    .nav-dropdown-content ul {
        padding: 0;
    }

    /* Hide the navigation menu by default */
    /* Also hide the  */
    .toggle + a,
    .menu {
        display: none;
    }

    /* Display Dropdown when clicked on Parent Lable */
    [id^=drop]:checked + .category-header {
        background: #FFFFFF;
        box-shadow: inset 4px 0 0 0 #0092D2, inset 0 -1px 0 0 #C7D2D9;
    }

    [id^=drop]:checked ~ .category-arrow {
        background-image: url("/icon-arrowup-blue-16.svg");
        background-repeat: no-repeat;
        background-position: center center;
        box-shadow: inset 0 -1px 0 0 #C7D2D9;
    }

    [id^=drop]:checked ~ ul {
        display: block !important;
        visibility: visible;
    }
}
