.category-pager,
.pager {
	justify-content: end;
	display: flex;
	margin-bottom: 24px;

	&__item,
	&__navigation {
		display: flex;
		align-items: center;
		justify-content: center;
		min-width: 40px;
		height: 40px;
		background-color: $color-white;
		font-size: 14px;
		line-height: 18px;
		font-weight: $font-weight__bold;
		letter-spacing: -0.1px;
		border-top: 1px solid $border-color;
		border-bottom: 1px solid $border-color;
		border-radius: 0;
		position: relative;
		padding: 0 8px;

		&.dots {
			cursor: default;
		}

		&:has(.dots__inner) {
			&:hover {
				background: none;

				&:after {
					display: none;
				}
			}
		}

		a {
			color: $color-secondary;
			text-transform: none;
			border-bottom: 3px solid transparent;
			background-color: $color-extra-light-grey;

			&:hover {
				border-color: $primary-color;
				text-transform: none !important;
				cursor: pointer;
			}
		}

		&:hover {
			&:not(.dots, .pager__previous, .pager__next, .active) {
				background: $color-extra-light-grey;
				border-bottom-color: transparent;
				cursor: pointer;
				&:after {
					content: '';
					position: absolute;
					height: 3px;
					width: 100%;
					background-color: $primary-color;
					bottom: -1px;
				}
			}
		}

		&.active {
			color: $color-white;
			background-color: $primary-color;
			border: none;

			a {
				background-color: $primary-color;
				color: $color-white;
			}
		}
	}

	&__previous,
	&__next {
		cursor: pointer;
		&:hover {
			background-color: $color-extra-light-grey;
		}
	}

	&__previous {
		border-left: 1px solid $border-color;
		border-radius: 4px 0 0 4px;
	}

	&__next {
		border-radius: 0 4px 4px 0;
		border-right: 1px solid $border-color;
	}

	&__first,
	&__last {
		display: none;
		border-right: 1px solid $border-color;
	}
}

.product-amount {
	margin-right: 24px;

	&__inner {
		span {
			margin-right: 8px;
			letter-spacing: -0.1px;
			line-height: 18px;
		}
	}

	select {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background: $color-white;
		background-image: url('../../icon-arrowdown-darkgrey-12.svg');
		background-repeat: no-repeat;
		position: relative;
		background-position: center right 12px;
		font-size: 14px;
		letter-spacing: -0.1px;
		line-height: 18px;
		font-weight: 400;
		border: 1px solid $border-color;
		border-radius: 4px;
		width: 64px;
		height: 40px;
		padding: 0 24px 0 8px;
		margin: 0;
		background-position: center right 8px;
	}
}

@include mobile {
	.category-pager,
	.pager {
		justify-content: flex-start;
		&__amount {
			display: none;
		}

		&__first,
		&__last {
			display: flex;

			&.category-pager__item {
				border-right: 1px solid $border-color;
				border-radius: 4px;
			}
		}

		&__first {
			margin-right: 4px;
		}

		&__last {
			margin-left: 4px;
		}
	}

	.dots {
		display: none;
	}

	.category-pager {
		&__item {
		}
	}
}
