// Should be adjusted based on the given design. Depending on the design accent colors or color octonary (3) should be added. Or if a very enthousiast designer quaternary  (4)

// Theme colors
$color-primary: #0092d2;
$primary-color: $color-primary;
$color-secondary: #003247;

// Gradient
$color-primary-gradient1: #009de0;
$color-primary-gradient2: #0081c7;

// *ALl colors given by the stylguide. Because of conistency there should be no reason to ever use a #hex value in the scss. Only variables which are defined here.

// ALl greys
$color-extra-light-grey: #f6f9fc;
$color-light-grey: #d8e3eb;
$color-grey: #c7d2d9;
$color-medium-grey: #9aabb3;
$color-dark-grey: #74838a;
$color-grey-border: #c7d2d9;

// Design colors
$color-green: #0eae0e;
$color-orange: #ff6400;
$color-red: #d0021b;
$color-blue-dark: #007bb8;
$color-light-red: #fff1f3;
$color-blue-disabeled: #72b4e0;

$heading-color: $color-secondary;
$color-white: #fff;
$border-color: $color-grey;
