// Primary colors
$color-primary: #0092d2;
$color-secondary: #003247;
$color-primary-gradient1: #009de0;
$color-primary-gradient2: #0081c7;
$primary-color: $color-primary;

// Greys
$color-extra-light-grey: #f6f9fc;
$color-light-grey: #d8e3eb;
$color-grey: #c7d2d9;
$color-medium-grey: #9aabb3;
$color-dark-grey: #74838a;
$color-grey-border: #c7d2d9;

$border-color: $color-grey;

//Colors Accent
$color-green: #0eae0e;
$color-orange: #ff6400;
$color-red: #d0021b;
$color-blue-dark: #007bb8;
$color-light-red: #fff1f3;
$color-blue-disabeled: #72b4e0;

$heading-color: $color-secondary;

$color-white: #fff;
$card-shadow: 0 8px 20px 0 rgba(22, 60, 92, 0.1);
$menu-shadow: 0 2px 6px 0 rgba(22, 60, 92, 0.2),
    0 4px 16px 0 rgba(22, 60, 92, 0.24);
$popup-overlay: 0 2px 6px 0 rgba(38, 82, 104, 0.1),
    0 8px 24px 0 rgba(22, 60, 92, 0.26);
$overlay: rgba(154, 171, 179, 0.4);
// Styleguide Font names copy. Assigning classes for easier future use
.black {
    color: $color-secondary;
}

.white {
    color: $color-white;
}

.darkgrey {
    color: $color-dark-grey;
}

.mediumgrey {
    color: $color-medium-grey;
}

.blue {
    color: $color-blue-dark;
}

.green {
    color: $color-green;
}

.backgrounds {
    display: flex;
    flex-wrap: wrap;

    div {
        margin: 0;
    }

    .flex-collumn {
        margin-right: 20px;
    }

    span {
        display: flex;
    }

    .test {
        @extend .menu-shadow;
    }

    .card1 {
        background-color: white;
        width: 50px;
        height: 50px;
        @extend .card-shadow;
    }

    .card2 {
        @extend .menu-shadow;
    }

    .card3 {
        background-color: white;
        width: 50px;
        height: 50px;
        @extend .popup-overlay;
    }

    .card4 {
        width: 50px;
        height: 50px;
        @extend .overlay;
    }
    .c-wrapper {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .box {
        width: 50px;
        height: 50px;
        margin: 0;
    }

    .black {
        background: $color-secondary;
    }

    .blue {
        background-color: $color-primary;
    }

    .blue-gradient {
        background-image: linear-gradient(
            180deg,
            $primary-color 0%,
            $color-secondary 100%
        );
    }

    .white {
        background: $color-white;
        border: 1px solid black;
    }

    .extra-light-grey {
        background-color: $color-extra-light-grey;
    }

    .light-grey {
        background-color: $color-light-grey;
    }

    .dark-grey {
        background: $color-dark-grey;
    }

    .medium-grey {
        background: $color-medium-grey;
    }

    .blue {
        background: $color-blue-dark;
    }

    .green {
        background: $color-green;
    }

    .orange {
        background-color: $color-orange;
    }

    .red {
        background-color: $color-red;
    }

    .light-red {
        background-color: $color-light-red;
    }

    .dark-blue {
        background-color: $color-blue-dark;
    }

    .blue-disabled {
        background-color: $color-blue-disabeled;
    }
}
.mail,
.phone {
    display: none !important
    ;
}
