$border-color: #c7d2d9;
$spacing: 24px;
$spacing-medium: 16px;
$spacing-small: 8px;
$input-height: 40px;
$sidebar-width: 248px;
$max-container: 1584px;
$mobile-grid-spacing: $spacing-medium;

// z-index logic. Try to increment with 5.
// base = 0
$z-index-base: 0;

$z-index-above-header: 10;
$z-index-search-above-header: 15;
$z-index-layer-one: $z-index-above-header;
$z-index-layer-two: $z-index-search-above-header;

* {
	box-sizing: border-box;
}

.style-wrapper {
	display: flex;
	flex-direction: column;

	.search-demo {
		div {
			margin: 0;
		}
	}
	button,
	ul,
	div {
		margin: 10px 0;
	}
}

ul {
	list-style: none;
	padding: 0;
}
