.slider {
	&__mobile-slide {
		display: none;
	}
}
@include below-desktop {
	/* body {
  align-items: center;
  background: #e3e3e3;
  display: flex;
  height: 100vh;
  justify-content: center;
} */
	@keyframes scroll {
		0% {
			transform: translateX(0);
		}
		100% {
			transform: translateX(calc(-123px * 5));
		}
	}

	.slider {
		margin: auto;
		overflow: hidden;
		position: relative;
		background-color: $color-white;
		box-shadow: $card-shadow;
		margin-bottom: 32px;
		height: 132px;
	}

	.slider::before,
	.slider::after {
		content: '';
		height: 100px;
		position: absolute;
		width: 200px;
		z-index: 2;
	}
	.slider::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}
	.slider::before {
		left: 0;
		top: 0;
	}
	.slider {
		&__track {
			animation: scroll 10s linear infinite;
			display: flex;
			width: calc(100vw - 248px);
		}

		&__slide {
			width: 123px;
			padding-left: 20px;
		}

		&__mobile-slide {
			display: flex;
		}
	}
}

.slider {
	overflow: hidden;
	position: relative;
	box-shadow: 0 8px 20px 0 rgba(22, 60, 92, 0.1);
	margin-bottom: 32px;
	height: 132px;

	&__track {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 38px 24px;
		margin-top: -2px;
		margin-bottom: 16px;
		display: flex;
	}
}
