.icon-icon-gereedschappen-blue-32:before {
    content: '\e900';
    color: #0092d2;
}
.icon-icon-search-blue-24:before {
    content: '\e901';
    color: #0092d2;
}
.icon-icon-search-darkgrey-24:before {
    content: '\e902';
}
.icon-icon-user-blue-24:before {
    content: '\e903';
    color: #0092d2;
}
.icon-icon-check-round-green-20 .path1:before {
    content: '\e904';
    color: rgb(14, 174, 14);
}
.icon-icon-check-round-green-20 .path2:before {
    content: '\e905';
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-icon-arrowdown-white-16:before {
    content: '\e906';
    color: #fff;
}
.icon-icon-arrowleft-darkgrey-16:before {
    content: '\e907';
}
.icon-icon-arrowleft-white-16:before {
    content: '\e908';
    color: #fff;
}
.icon-icon-arrowright-blue-16:before {
    content: '\e909';
    color: #0092d2;
}
.icon-icon-arrowright-darkgrey-16:before {
    content: '\e90a';
}
.icon-icon-arrowright-white-16:before {
    content: '\e90b';
    color: #fff;
}
.icon-icon-arrowup-darkgrey-16:before {
    content: '\e90c';
}
.icon-icon-cancel-blue-16:before {
    content: '\e90d';
    color: #0092d2;
}
.icon-icon-error-round-16 .path1:before {
    content: '\e90e';
    color: rgb(208, 2, 27);
}
.icon-icon-error-round-16 .path2:before {
    content: '\e90f';
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-icon-error-round-16 .path3:before {
    content: '\e910';
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-icon-arrowdown-darkgrey-12:before {
    content: '\e911';
}
.icon-icon-arrowforward-blue-12:before {
    content: '\e912';
    color: #0092d2;
}
.icon-icon-arrowforward-darkgrey-12:before {
    content: '\e913';
}
.icon-icon-arrowup-darkgrey-12:before {
    content: '\e914';
}
.icon-icon-cancel-white-12:before {
    content: '\e915';
    color: #fff;
}
.icon-icon-check-white-12:before {
    content: '\e916';
    color: #fff;
}
.icon-icon-arrowforward-blue-10:before {
    content: '\e917';
    color: #0092d2;
}
