$animation-durating: 750ms;
$bezier: cubic-bezier(1, -0.28, 0.39, 1.62);
.grid-out .tile {
    animation: grid-out $bezier;
    animation-duration: $animation-durating * 1.8;
    &:first-child {
        animation: grid-out $bezier;
        animation-duration: $animation-durating;
        animation-fill-mode: forwards;
    }

    &:nth-child(2) {
        animation: grid-out $bezier;
        animation-duration: $animation-durating * 1.2;
        animation-fill-mode: forwards;
    }

    &:nth-child(3) {
        animation: grid-out $bezier;
        animation-duration: $animation-durating * 1.4;
        animation-fill-mode: forwards;
    }

    &:nth-child(4) {
        animation: grid-out $animation-durating $bezier;
        animation-duration: $animation-durating * 1.6;
        animation-fill-mode: forwards;
    }
}

@keyframes grid-out {
    0% {
        transform: translateY(0);
    }

    90% {
        opacity: 100%;
    }
    100% {
        opacity: 0;
        transform: translateY(100vh);
    }
}
