.certificate {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	border: 1px solid $border-color;
	border-radius: 4px;
	margin-bottom: 15px;
}

.certificate-info {
	padding: 10px;
}

.certificate-item {
	border-left: 2px solid #008fcf;
	padding: 0 0 0 15px;
	display: inline-block;
}

.certificate .certificate-item:first-child {
	border-left: 0;
}

.certificate-item-label {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: #1a3c4c;
	letter-spacing: -0.26px;
}

.certificate-item-value {
	font-family: $font-primary-bold, sans-serif;
	font-size: 13px;
	color: #1a3c4c;
	letter-spacing: -0.28px;
}
.certificate-item-download {
	border-radius: 0 4px 4px 0;
	padding: 14px 0 0 10px;
	display: inline-block;
}

.alert-dismissible .close {
	position: absolute !important;
	top: 0 !important;
	right: 0 !important;
	padding: 0.75rem 1.25rem !important;
	color: inherit !important;
}

.account-search {
	width: 372px;
	height: 40px;
	border: 2px solid var(--border-color);
	background: white;
	border-radius: 4px;
	padding-left: 50px;
	font-size: 14px;
	letter-spacing: 0;
	margin-bottom: $spacing;
	background-image: url('../../icon-arrowsubcat-grey-16.svg');
	background-position: left 12px center;
	background-repeat: no-repeat;
}

.search-wrapper {
	&::placeholder {
		color: #9aabb3;
		letter-spacing: -0.1px;
	}
}
.groupbox-2fa {
	background: #d8e3eb;
	border-radius: 4px;
	font-size: 14px;
	display: inline-block;
}

.mfa-list {
	padding: inherit;
}

.groupbox-2fa-info {
	font-family: 'Open Sans';
	padding: 8px;
	color: #003247;
	text-transform: uppercase;
}

.groupbox .title {
	font-family: 'Open Sans';
	font-size: 14px;
}

.groupbox .row {
	margin-bottom: 24px;
}

.groupbox {
	margin-top: 16px;
	border: 1px solid #c7d2d9;
	border-radius: 4px;
	margin-bottom: 16px;
}
.groupbox-info {
	padding: 16px;
}
