.category-breadcrumbs {
	color: $color-secondary;
	display: -webkit-box;
	width: 100%;

	&__nested {
		flex-wrap: wrap;
		display: flex;

		li {
			&:last-child {
				a {
					color: #003247;
					pointer-events: none;
				}
			}
		}

		a {
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	ol {
		display: flex;
		align-items: stretch;
		padding-left: 0;
		list-style: none;
	}

	li {
		letter-spacing: -0.2px;
		text-align: left;
		line-height: 24px;

		> * {
			display: block;
		}

		&:last-child {
			&:after {
				display: none;
			}
		}
		&:after {
			content: '/';
			font-size: 16px;
			color: $color-dark-grey;
			letter-spacing: -0.45px;
			line-height: 24px;
			padding: 0 5px;
		}
	}
}

@include mobile {
	.category-breadcrumbs {
		padding: 0;
		margin-bottom: 8px;

		&__nested {
			li {
				display: flex;

				&:last-child {
					display: none !important;
				}
			}
		}

		li {
			max-height: 47px;
			overflow: hidden;

			&:after {
				display: block;
			}

			a {
				line-height: 28px;
				color: $color-primary !important;
			}
		}
	}
}

@include above-mobile {
	.category-breadcrumbs {
		padding: 24px 0;
	}

	.breadcrumb {
		li {
			display: inline-flex;
			align-items: center;
		}
	}
}
