.record {
    position: absolute;
    width: 95%;
    top: 0px;
    left: 0px;
    background-color: #d3e4cd;
}

.record:first-child:before {
    counter-increment: number;
    content: counter(number);
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 23px;
    color: blue;
}

.video {
    width: 200px;
    height: 100px;
    background: linear-gradient(white 40%, #5e819ef8);
}

/* list view */

.dv-wrapper {
    height: 100px;
    width: 95%;
    float: left;
}

.dv-video {
}

.dv-details {
    position: absolute;
    width: calc(100% - 200px);
    top: 0px;
    right: 0px;
    float: right;
    padding-left: 10px;
    overflow: hidden;
}

/* grid view */

.gv-wrapper {
    height: 100px;
    width: 200px;
    float: left;
}

.gv-video {
    float: left;
}

.gv-details {
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding-left: 10px;
    overflow: hidden;
}

/* collapsed view */

.cv-wrapper {
    height: 50px;
    width: 80%;
}

.cv-video {
    float: left;
    display: none;
}

.cv-details {
    padding-left: 10px;
    overflow: hidden;
}

.details p {
    width: 100%;
    text-overflow: ellipsis;
}
