@mixin placeholder {
	&::-webkit-input-placeholder {
		@content;
	}
	&::-moz-placeholder {
		@content;
	}
	&:-moz-placeholder {
		@content;
	}
	&:-ms-input-placeholder {
		@content;
	}
}

.search {
	display: flex;
	flex: 1;

	&__inner {
		display: flex;
		flex: 1;
		margin-left: 32px;
		margin-right: 24px;
		position: relative;
	}

	&__clear-search {
		background-image: url('../../assets/icon-cancel-blue-16.svg');
		background-position: center;
		width: 16px;
		height: 16px;
		background-repeat: no-repeat;
		position: absolute;
		right: 16px;
		bottom: 13px;
	}

	input {
		border-radius: 4px;
		min-width: 100%;
		height: 48px;
		position: relative;
		padding: 0 24px 0 48px;
		background-color: $color-white;
		border: 2px solid $border-color;
		transition: 150ms ease all;
		text-overflow: ellipsis;
		overflow: hidden;
		width: 100%;
		background-image: url('../../icon-search-darkgrey-24.svg');
		background-position: left 12px center;
		background-repeat: no-repeat;
		cursor: text;

		@include placeholder {
			color: $color-medium-grey;
			font-size: 14px;
			letter-spacing: -0.1px;
			font-weight: $font-weight__medium;
			line-height: 18px;
		}

		&.small {
			max-width: 248px;
			width: 248px;
		}

		&:hover {
			border-color: $color-medium-grey;
			box-shadow: 0 6px 12px 0 rgba(22, 60, 92, 0.1);
		}

		&:focus,
		&:active,
		&:focus-visible {
			color: $color-secondary;
			letter-spacing: -0.1px;
			line-height: 18px;
			border-color: $primary-color !important;
			outline: none;
			background-image: url('../../icon-search-blue-24.svg');
		}
	}
}

input[type='search']::-webkit-search-decoration:hover,
input[type='search']::-webkit-search-cancel-button:hover {
	cursor: pointer;
}

@include tablet {
	.search {
		margin-left: 0;
	}
}

@include mobile {
	.search {
		flex: unset;
		order: 2;
		width: 100%;

		&__inner {
			width: 100%;
		}

		input {
			width: 100%;
		}
	}
}

#menu-overlay {
	display: none;
	position: fixed;
	background: purple; /* I made this purple so you can see it :) */
	opacity: 0.1; /* can be made to 0 */
	width: 100%;
	height: 100%;
	z-index: 0;
	top: 0;
	left: 0;
}
.ul_menu,
#menu {
	margin: 0;
	padding: 0;
}
#menu {
	position: relative;
	z-index: 5;
	color: black;
	font-size: 20px;
}

#menu .parent {
	display: block;
	background: #efefef;
	padding: 10px;
	line-height: 30px;
	text-transform: capitalize;
	cursor: pointer;
}
#menu .parent:hover {
	background: yellow;
}
#menu .parent .sub-nav {
	display: none;
}

#menu .parent .sub-nav {
	list-style: none;
	font-style: italic;
	background: #ddd;
	margin: 0;
	padding: 0 20px;
}
#menu .parent .sub-nav li:not(:last-child) {
	border-bottom: 1px solid #efefef;
}
#menu .parent .sub-nav li a {
	text-decoration: none;
	color: black;
	font-size: 16px;
	display: block;
}

#menu .parent .sub-nav li a:hover {
	color: purple;
}
