.search-autocomplete {
    position: absolute;
    border-bottom: none;
    border-top: none;
    background-color: $color-white;
    top: -20px;
    left: 0;
    right: 0;
    padding: 12px 0;
    z-index: $z-index-search-above-header;

    &__product-wrapper {
        border-bottom: 1px solid $border-color;
    }

    &__btn {
        padding: 16px;
    }

    &__suggestions {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
        border-radius: 4px;
        box-shadow: 0 2px 6px 0 rgba(38, 82, 104, 0.1),
            0 8px 24px 0 rgba(22, 60, 92, 0.26);
        background-color: $color-white;
        top: 60px;

        div {
            &:first-child {
                order: 3;
            }
        }
    }

    &__title {
        font-size: 16px;
        color: $color-secondary;
        letter-spacing: -0.45px;
        line-height: 24px;
        font-weight: 700;
        margin-left: 16px;
        padding-bottom: 12px;
    }

    &__section {
        .inner {
            position: relative;

            a {
                color: #003247;
                text-align: left;
                display: inline-block;
                line-height: 24px;

                &.breadcrumb-wrapper__child {
                    padding-left: 0;
                }

                &a.breadcrumb-wrapper__layer-two {
                    &:after {
                        display: none;
                    }
                }
            }
        }

        a {
            &.first {
                padding-left: 16px;
            }
        }
    }

    .suggest-item {
        display: flex;
        flex-wrap: nowrap;
        background-color: $color-white;
    }

    .breadcrumb-wrapper {
        padding: 0;
    }

    .list-links {
        &--icon {
            background: url('../../icon-arrowsubcat-grey-16.svg') no-repeat left
                center;
        }
    }

    .inner__brand-sugestions {
        padding-top: 16px;

        .list-links {
            padding: 4px 0;

            &--icon {
                background: url('../../icon-search-grey-16.svg') no-repeat left
                    center !important;
            }
        }
    }

    .inner__category-suggestions {
        padding: 16px 0;
    }

    .suggestion-wrapper {
        margin-left: 16px;
    }

    .content {
        display: flex;
        flex-direction: row-reverse;
        justify-content: start;
        padding: 8px;

        &__image {
            display: block;
            min-width: 72px;
            height: 72px;
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
            background-position: top;
        }

        &__info {
            display: flex;
            flex-direction: column;
            align-items: baseline;
            font-size: 12px;
            line-height: 17px;
            color: #003247;
            text-align: left;
            font-weight: 400;
            padding-left: 8px;

            .name {
                font-size: 14px;
                letter-spacing: -0.1px;
                line-height: 18px;
                font-weight: 700;
            }

            .brand {
                padding: 0;
            }

            .list {
                display: flex;
                flex-direction: column;
                align-items: baseline;

                span {
                    &:first-child {
                        display: none;
                    }
                }
            }
        }

        &__price {
            display: flex;
            font-size: 14px;
            letter-spacing: -0.1px;
            line-height: 18px;
            font-weight: 700;

            .unit {
                font-size: 12px;
                text-align: left;
                font-weight: 400;

                &::before {
                    content: '/';
                    padding: 0 5px;
                    color: $color-dark-grey;
                }
            }
        }
    }

    &__product-image {
        display: block;
        width: 64px;
        height: 64px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top;
    }

    .suggest-active {
        a {
            padding: 16px;
            display: flex;
        }
    }
}

.breadcrumb-wrapper {
    padding: 24px 0;

    a {
        color: $primary-color !important;

        &:not(:last-child) {
            &:after {
                content: '/';
                padding: 0 5px;
                color: $color-dark-grey;
            }
        }
    }

    .child {
        &:only-child {
            a {
                &:after {
                    display: none;
                }
            }
        }
        &:nth-child(even) {
            padding: 0;
        }
    }
}

.suggest-item-category {
    .divider {
        padding: 0 4px;

        &:last-child {
            display: none;
        }
    }
}

@include desktop {
    .search-autocomplete__section {
        &:first-child {
            padding-top: 16px;
        }
    }
}

@include tablet {
    .suggestion-wrapper {
        .child {
            a {
                word-break: break-all;

                &:first-child {
                    display: none;
                }
            }
        }
    }
}

@include mobile {
    .search-autocomplete {
        .breadcrumb-wrapper {
            &__layer-two {
                padding-left: 12px !important;
            }
        }

        &__suggestions {
            max-height: calc(100vh - 206px);
            overflow-y: scroll;
        }
    }

    .suggestion-wrapper {
        .child {
            a {
                display: none;
            }
        }
    }

    .breadcrumb-wrapper {
        padding-left: 28px !important;
        background: url('../../icon-arrowsubcat-grey-16.svg') no-repeat left
            center;
        display: block !important;

        a {
            margin: 0 !important;
        }
    }

    .breadcrumb-wrapper {
        .list-links {
            display: none !important;
        }
    }

    a.breadcrumb-wrapper__layer-two {
        margin-left: -7px;
        padding-left: 0 !important;

        &:after {
            display: none;
        }
    }
}
