@import './layout/list-view';

.product-tiles {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	transition: 1s all;
}

.tile {
	display: flex;
	flex-direction: column;
	flex: 1;
	border-top: 5px solid transparent;
	background-color: $color-white;
	position: relative;

	&:hover {
		border-color: $color-secondary;
		box-shadow: $card-shadow;
	}

	&__inner {
		display: flex;
		flex-direction: column;
		flex: 1;
		border-radius: 4px;
		padding-bottom: 20px;
	}

	&__image {
		display: flex;
		justify-content: center;
		padding: 16px 20px 8px 20px;
		max-height: 100%;

		img {
			position: relative;
			max-width: 100%;
			max-height: 100%;
		}
	}

	&__info {
		padding: 0 16px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex: 1;
	}

	&__top {
		display: flex;
		flex-direction: column;
		margin-left: 4px;
		margin-right: 4px;
	}

	&__brand {
		font-size: 12px;
		line-height: 12px;
		padding-bottom: 6px;
	}

	&__category {
		background-image: url('../../icon-arrowforward-blue-12.svg');
		background-repeat: no-repeat;
		background-position: left;
		padding-left: 16px;
		line-height: 17px;
		margin-bottom: 6px;
		font-size: 12px;
	}

	&__title {
		font-size: 18px;
		color: $color-secondary;
		letter-spacing: -0.3px;
		text-align: left;
		margin-bottom: 6px;
		font-weight: 700;
	}

	&__data {
		font-size: 12px;
		line-height: 12px;
		padding-bottom: 6px;
	}

	&__stock {
		display: none;
		background-image: url('../../icon-check-round-green-16.svg');
		background-repeat: no-repeat;
		background-position: left;
		padding-left: 20px;
		font-size: 14px;
		letter-spacing: -0.1px;
		line-height: 18px;
		font-weight: 600;
		margin: 2px 4px 8px 4px;

		&.in-stock {
			color: $color-green;
		}

		&.low-stock {
			color: $color-orange;
		}

		&.no-stock {
			color: $color-red;
		}

		&.grid {
			display: block;
		}
	}

	&__price {
		margin-bottom: 12px;
		margin-left: 4px;
		margin-right: 4px;

		.normal-price {
			font-size: 23px;
			letter-spacing: -0.6px;
			font-weight: 700;
		}

		.old-price {
			font-size: 14px;
			color: $color-dark-grey;
			letter-spacing: -0.1px;
			line-height: 18px;
			font-weight: 600;
			margin-right: 6px;
			position: relative;

			&:after {
				content: '';
				width: 100%;
				height: 1px;
				background-color: $color-dark-grey;
				position: absolute;
				left: 0;
				top: 50%;
			}
		}

		.without-tax {
			font-size: 14px;
			color: $color-dark-grey;
			letter-spacing: -0.1px;
			line-height: 18px;
			font-weight: 600;
		}

		.unit {
			font-size: 14px;
			color: $color-dark-grey;
			letter-spacing: -0.1px;
			line-height: 18px;
			font-weight: 600;
			padding-left: 4px;
		}
	}

	.btn--cart {
		display: flex;
		flex: 3 1 auto;
		border: 0;
		align-items: center;
		height: 40px;
		border-radius: 4px;
		background-color: $primary-color;
		min-width: 60px;
		border: none;
		justify-content: center;
		margin: 4px;

		&:hover {
			background-color: $color-secondary;
		}
	}

	&__qty-wrapper {
		display: flex;
		flex-wrap: wrap;
	}

	.img-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: relative;
		height: 232px;
	}

	.add-to-favourites {
		position: absolute;
		right: 16px;
		top: 16px;
		z-index: 4;
		border: none;
		padding: 0;
		background: none;

		img {
			width: 24px;
			height: 24px;
		}
	}

	&__qty-wrapper {
		form {
			display: flex;
			flex: 1 1 auto;
		}

		.qty {
			height: 40px;
			text-align: center;
		}
	}

	.qty-select {
		padding: 4px;

		form {
			padding-right: 8px;

			min-width: 40px;
		}

		&__selector {
			display: flex;
			align-items: center;
			justify-content: center;
			background: $color-extra-light-grey;
			border-radius: 4px 0 0 4px;
			width: 40px;
			height: 40px;
			border: none;
			flex: 0 0 auto;

			&.decrease {
				background-image: url('../../icon-minus-darkgrey-16.svg');
				background-repeat: no-repeat;
				background-position: center !important;
				box-shadow: inset 0 -1px 0 0 $color-grey,
					inset 0 1px 0 0 $color-grey, inset 1px 0 0 0 $color-grey;
				border-radius: 4px 0 0 4px;
				cursor: pointer;

				&:hover {
					background-color: $color-light-grey;
				}
			}

			&.increase {
				background-image: url('../../icon-plus-darkgrey-16.svg');
				background-repeat: no-repeat;
				background-position: center !important;
				box-shadow: inset 0 -1px 0 0 $color-grey,
					inset 0 1px 0 0 $color-grey, inset -1px 0 0 0 $color-grey;
				cursor: pointer;
				border-radius: 0 4px 4px 0;

				&:hover {
					background-color: $color-light-grey;
				}
			}
		}

		&__input {
			width: 40px;
			border: none;
			font-size: 16px;
			letter-spacing: -0.45px;
			text-align: center;
			line-height: 24px;
			font-weight: 400;
			border-top: 1px solid $color-grey;
			border-bottom: 1px solid $color-grey;
			flex: 1 1 auto;
			border-radius: 0;
		}

		button {
			all: unset;
		}
	}

	&__attribute-selector {
		display: flex;
		flex-direction: column;
		margin-top: 16px;
		padding: 4px;

		select {
			color: $color-secondary;
			height: $input-height;
			border-radius: 4px;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			background-image: url('../../icon-arrowdown-darkgrey-12.svg');
			background-repeat: no-repeat;
			position: relative;
			background-position: center right 12px;
			font-size: 14px;
			letter-spacing: -0.1px;
			line-height: 18px;
			font-weight: 400;
			border: 1px solid $border-color;
			border-radius: 4px;
			padding: 0 24px 0 8px;
			margin: 0;
			background-position: center right 8px;
		}
	}
}

@media (min-width: $screen__xl) {
	.product-tiles {
		grid-template-columns: repeat(4, 1fr);
	}
}

@include tablet {
	.page-wrapper {
		.product-tiles {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}

@include mobile-small {
	.page-wrapper {
		.category {
			&__right {
				margin-left: 0;
			}

			&__filters {
				display: none;
			}

			.btn--cart {
				margin-top: 8px;
			}
		}
	}
}

@media (min-width: 640px) and (max-width: $screen__m) {
	.page-wrapper {
		.category {
			.btn--cart {
				margin-top: 8px;
			}
		}
	}
}
