@import './toolbar';
@import './tiles';
@import './breadcrumbs';
@import './components/filters';
@import './components/slider';
@import './components/pagination';

.category-intro {
	&__title {
		display: flex;
		margin-bottom: 24px;

		.intro-icon {
			display: flex;
			position: relative;
			align-items: center;
			justify-content: center;
			background-color: $primary-color;
			width: 48px;
			background-size: 48px 52px;
			height: 52px;
			clip-path: polygon(0 0, 100% 0, 100% 78%, 50% 100%, 0% 78%);
			-webkit-clip-path: polygon(0 0, 100% 0, 100% 78%, 50% 100%, 0% 78%);
			margin-right: 12px;

			img {
				max-width: 24px;
				margin-top: -2px;
			}
		}

		h1 {
			font-size: 25px;
			color: #003247;
			letter-spacing: -0.8px;
			text-align: left;
			line-height: 32px;
			font-weight: 700;
			margin: 0;
		}
	}
}

.category-brands__heading {
	display: flex;
	border-bottom: 3px solid $color-primary;

	.inner {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 12px 24px;
		background-color: $primary-color;
		font-size: 16px;
		color: $color-white;
		letter-spacing: -0.45px;
		line-height: 24px;
		font-weight: 700;
	}
}

.category {
	display: flex;
	flex-wrap: wrap;
	flex: 1;

	&__inner {
		display: flex;
		flex: 1;
		width: 100%;
	}

	&__right {
		flex: 1;
		margin-left: 32px;
		position: relative;
	}

	&__toolbar {
		box-shadow: inset 0 -1px 0 0 $color-medium-grey;
	}

	&__filters {
		width: $sidebar-width;
	}
}

.products {
	flex: 1;
}

@include mobile {
	.category-brands {
		display: none;
	}
	.page-wrapper {
		.category {
			&__filters {
				display: none;
			}

			&__right {
				margin-left: 0;
			}
		}

		.product-tiles {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	.category-intro {
		&__title {
			h1 {
				font-size: 21px;
				letter-spacing: -0.8px;
				line-height: 26px;
				font-weight: 700;
				max-width: 65%;
			}
		}
	}
}
