// old
span.category-stock {
    font-size: 13px;
}

.products {
    display: flex;
    justify-content: flex-start;
}

.product-tile-instance-count {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 36px;
    background: $color-primary;
    border-bottom-left-radius: 4px;
    font-family: $font-primary;
    font-weight: bold;
    font-size: 14px;
    color: $color-white;
    letter-spacing: -0.36px;
    text-align: right;
    padding-right: 10px;
    line-height: 36px;
    z-index: 99;
}

.product-tile-instance-icon {
    position: absolute;
    left: 10px;
    top: 12px;
    height: 16px;
    width: 16px;
}

.product-card-title {
    font-family: $font-primary, sans-serif;
    font-weight: 800;
    font-size: 18px;
    color: $color-primary;
    letter-spacing: -0.47px;
    text-decoration: none;
}

.category-btn-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    form,
    button {
        width: 100%;
    }

    .btn {
        &--primary {
            margin: 10px 0;
        }
    }
}

.favourite-wrapper {
    padding-bottom: $spacing;
}

.product-card-standard-icon {
    width: 30px;
    height: 30px;
    padding: 2px;
    box-sizing: content-box;
    background: #fff;
    border-radius: 5px;
    margin-right: 5px;
    margin-top: 5px;
    border: 1px solid $color-primary;
}

.category-btn-wrapper {
    display: flex;
    flex-direction: column;
}

.category-wrapper {
    display: flex;

    &__filters {
        width: 20%;
        padding-right: $spacing;
    }

    &__grid {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        justify-content: flex-end;
    }
}

#cartPopup {
    width: 400px;
    height: 100vh;
    top: 0;
    background-color: $color-white;
    box-shadow: $popup-overlay;
    position: absolute;
    right: 0;
}

@media (min-width: #{$screen__l}) {
    .product-card {
        width: 25%;
        min-width: 25%;

        &:nth-child(2n + 2) {
            position: relative;

            &:before {
                content: '';
                height: 100%;
                width: 1px;
                position: absolute;
                background-color: $border-color;
                left: 0;
                top: 0;
            }

            &:after {
                content: '';
                height: 100%;
                width: 1px;
                position: absolute;
                background-color: $border-color;
                right: 0;
                top: 0;
            }
        }

        &:nth-child(4n) {
            &:after {
                display: none;
                content: '';
                height: 100%;
                width: 1px;
                position: absolute;
                background-color: $border-color;
                right: 0;
                top: 0;
            }
        }

        &:hover {
            border-top: 1px solid $border-color;
            cursor: pointer;
            border-bottom: 2px solid $color-primary;

            &:nth-child(2n + 2) {
                border-left: none;
                border-right: none;
            }

            &:nth-child(4n) {
                border-right: none;

                &:after {
                    display: block;
                }
            }

            &:nth-child(1n) {
                position: relative;

                &:before {
                    content: '';
                    height: 100%;
                    width: 1px;
                    position: absolute;
                    background-color: $border-color;
                    left: 0;
                    top: 0;
                }
            }
        }
    }
}

@media (min-width: $screen__m) and (max-width: 1200px) {
    .product-card {
        width: 50%;
        min-width: 50%;
    }
}

@media (min-width: 1201) and (max-width: 1700px) {
    .product-card {
        &:nth-child(4n) {
            position: relative;

            &:before {
                content: '';
                height: 100%;
                width: 1px;
                position: absolute;
                background-color: $border-color;
                left: 0;
                top: 0;
            }
        }
    }
}

@include category-grid {
    .category-wrapper {
        .product-card-container {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@include mobile {
    .category-wrapper {
        width: 100%;
        flex-direction: column;

        &__grid {
            width: 100%;
            justify-content: flex-start;

            .product-card {
                width: 50%;
                border-bottom: 1px solid $border-color;

                &:nth-child(-n + 2) {
                    border-top: 1px solid $border-color;
                }

                &:nth-child(2n) {
                    position: relative;

                    &:before {
                        content: '';
                        height: 100%;
                        width: 1px;
                        position: absolute;
                        background-color: $border-color;
                        left: 0;
                        top: 0;
                    }
                }
            }
        }
    }
}

// grid stuff from old css templates
.product-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width: 1200px) {
    .product-card-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .product-card:nth-child(odd) {
        border-right-color: transparent;
    }
}
