.footer-container a {
    text-decoration: none;
    color: #003147;
}

.footer-columns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 70px;
    margin-bottom: 83px;
}

.footer-column {
    font-size: 15px;
    margin-right: 84px;
}

.footer-column span {
    display: block;
    padding-left: 30px;
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;
    background-size: 20px;
}

.footer-column-title {
    font-family: $font-primary, sans-serif;
    font-weight: 800;
    font-size: 15px;
    color: #003147;
    letter-spacing: -0.07px;
    margin: 0;
    text-transform: uppercase;
}

.footer-address {
    background-image: url('../../icon-home-blue-20.svg');
}

.footer-phone {
    background-image: url('../../icon-phone-blue-20.svg');
}

.footer-email {
    background-image: url('../../icon-email-blue-20.svg');
}
