@media screen and (min-width: 1700px) {
    .home-navigation-tile:nth-child(4n) {
        margin-right: 0px;
    }

    .product-card:nth-child(4n) {
        box-shadow: inset -1px 0 0 0 transparent;
    }

    .mobile {
        display: none;
    }
}

@media screen and (max-width: 1700px) {
    .header-logo-searchbar {
        max-width: 1175px;
    }

    .container {
        max-width: 1175px;
    }

    .layout-container {
        max-width: 1175px;
    }

    .home-usp-container {
        max-width: 1175px;
    }

    a.home-navigation-tile:nth-child(3n) {
        margin-right: 0px;
    }

    .shoppingcart-quantity-column {
        width: 50px;
    }

    .mobile {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    .header-logo-searchbar {
        max-width: 768px;
    }

    .container {
        max-width: 768px;
    }

    .layout-container {
        max-width: 768px;
    }

    .localization-container {
        -webkit-flex-flow: column nowrap;
        flex-flow: column nowrap;
    }

    .localization-dropdown {
        margin-bottom: 12px;
    }

    .home-usp-container {
        max-width: 768px;
    }

    a.home-navigation-tile:nth-child(3n) {
        margin-right: 24px;
    }

    a.home-navigation-tile:nth-child(2n) {
        margin-right: 0px;
    }

    .product-detail-title {
        margin-top: 24px;
    }

    .flex-item-2col:nth-child(2) {
        margin-left: 0;
    }

    .shoppingcart-price-column {
        width: 110px;
    }

    .mobile {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .header-logo-searchbar {
        -webkit-flex-flow: column nowrap;
        flex-flow: column nowrap;
        max-width: 375px;
    }

    .header-search {
        margin: 16px 0 8px 0;
        width: 100%;
    }

    nav {
        display: none;
    }

    .container {
        max-width: initial;
    }
    .layout-menu,
    .layout-content {
        width: 100% !important;
    }
    .layout-content {
        padding: 0 30px;
    }

    .layout-container {
        max-width: initial;
    }

    .home-usp-container {
        -webkit-flex-flow: column nowrap;
        flex-flow: column nowrap;
        margin-top: 30px;
        max-width: 375px;
    }

    .home-usp {
        margin-top: 16px;
    }

    a.home-navigation-tile {
        max-width: 100%;
        margin-right: 0px;
    }

    a.home-navigation-tile:nth-child(3n) {
        max-width: 100%;
        margin-right: 0px;
    }

    a.home-navigation-tile:nth-child(2n) {
        max-width: 100%;
        margin-right: 0px;
    }

    .footer-columns {
        -webkit-flex-flow: column nowrap;
        flex-flow: column nowrap;
        margin-top: 54px;
        margin-bottom: 30px;
    }

    .footer-column {
        margin-top: 16px;
    }

    .product-detail-image {
        height: 375px;
        width: 375px;
    }

    .product-detail-images {
        max-width: 375px;
    }

    .product-detail-images img {
        max-width: 375px;
        max-height: 375px;
    }

    .product-images-gallery {
        width: 361px;
    }

    .product-images-gallery-image {
        margin: 20px 32px 0px 0px;
    }

    .product-images-gallery-image > img {
        max-width: 86px;
        max-height: 86px;
    }

    .flex-item-2col {
        max-width: 375px;
    }

    .shoppingcart-image-column {
        display: none;
    }

    .shoppingcart-buttons {
        -webkit-flex-flow: column-reverse nowrap;
        flex-flow: column-reverse nowrap;
    }

    .shoppingcart-button {
        margin-top: 24px;
        width: 330px;
    }

    .pc {
        display: none;
    }

    .mobile {
        display: block;
    }
}
