:root {
    --approval-orange: #ff6400;
    --background-light-gray: $color-extra-light-grey;
    --border-light-gray: #c7d2d9;
    --created-green: #0eae0e;
    --done-dark-blue: #1a3d4d;
    --lasaulec-light-blue: #0092d2;
    --optional-light-gray: #9aabb3;
    --rejection-red: #d0021b;
    --text-dark-blue: $color-secondary;
}

.triangle-right {
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-left: 14px solid;
    border-bottom: 12px solid transparent;
    display: inline-flex;
    align-self: center;
}

.border-left-color-approval-orange {
    border-left-color: var(--approval-orange) !important;
}

.border-left-color-rejection-red {
    border-left-color: var(--rejection-red) !important;
}

.order-tab-container {
    margin: 16px 0 24px 0;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: #c7d2d9;
}

.order-tab-container a {
    margin: 4px 8px -1px 0;
}

.order-tab,
tab {
    background: $color-extra-light-grey;
    border: 1px solid #c7d2d9;
    font-family: $font-primary, sans-serif;
    font-size: 14px;
    color: $color-primary;
    letter-spacing: 0;
    text-align: left;
    line-height: 28px;
    font-weight: 400;
    cursor: pointer;
    padding: 7px 12px 5px 12px;
    height: 40px;
    border: 1px solid $border-color;

    &:hover {
        background-color: white;
        border-color: $color-primary;
    }
}

.order-tab:active {
    background-color: #e0e8ef;
}

.order-tab div span {
    height: 29px;
}

.order-tab-active {
    background: #ffffff;
    box-shadow: inset 0 3px 0 0 #0092d2, inset -1px 0 0 0 #d8e3eb,
        inset 1px 0 0 0 #d8e3eb;
    font-family: $font-primary-bold, sans-serif;
    font-size: 14px;
    color: $color-secondary;
    letter-spacing: 0;
    text-align: left;
    line-height: 24px;
    /* font-weight: 700; */
    margin-right: 8px;
    padding: 9px 12px 7px 12px;
    height: 40px;
}

.order-tab-active:hover {
    text-decoration: none;
}

.order-tab-active div span {
    height: 25px;
}

.approval-count {
    background: #ff6400;
    border-radius: 12px;
    font-family: $font-primary-bold, sans-serif;
    font-size: 13px;
    color: #ffffff;
    letter-spacing: -0.5px;
    text-align: center;
    /* font-weight: 900; */
    min-width: 24px;
    height: 24px;
    display: inline-flex;
    margin-left: 8px;
    padding: 0 4px;
}

.view-details-btn {
    font-family: $font-primary-bold, sans-serif;
    font-size: 12px;
    color: #ffffff;
    letter-spacing: -0.08px;
    line-height: 18px;
    /* font-weight: 700; */
    max-width: max-content;
}

.view-details-btn:hover {
    background-image: linear-gradient(-180deg, #0bacf1 0%, #0081c7 100%);
}

.view-details-btn:focus {
    background-image: linear-gradient(-180deg, #0a92cd 0%, #0081c7 100%);
}

.order-overview-search-header {
    font-family: $font-primary-bold, sans-serif;
    font-size: 18px;
    color: $color-secondary;
    letter-spacing: -0.62px;
    text-align: left;
    /* font-weight: 700; */
    margin: 16px 0;
}

.order-overview-search-container {
    margin: 24px 0 12px 0;
    height: 40px;
}

.order-overview-search-container .search-reset-btn {
    width: 36px;
    border: 0;
    background-color: transparent;
    right: 0;
}

.order-overview-search-container .search-reset-btn:focus {
    outline: 0 !important;
}

.order-overview-search-container .search-reset-btn img {
    width: 16px;
    height: 16px;
}

.order-overview-search-container
    input[type='search']::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

.order-overview-search-input {
    height: 100%;
    padding: 12px;
    min-width: 280px;
    border: 1px solid #c7d2d9;
    border-radius: 4px 0px 0px 4px;
    font-family: $font-primary, sans-serif;
    font-size: 12px;
    color: #74838a;
    letter-spacing: 0;
    font-weight: 400;
}

.order-overview-search-input:hover {
    border: 1px solid #74838a;
    border-radius: 4px 0px 0px 4px;
}

.order-overview-search-input:focus {
    background: #ffffff;
    border: 1px solid #0092d2;
    border-radius: 4px 0px 0px 4px;
    outline: none;
}

.order-overview-search-btn {
    display: inline-block;
    height: 40px;
    width: 40px;
    background: #0092d2;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    background-image: url('../../icon-search-white-20.svg');
    background-position: center;
    background-repeat: no-repeat;
    border-width: 0;
    border-radius: 0 4px 4px 0;
}

.order-overview-search-btn:hover {
    background-color: #0ba2e4;
}

.order-overview-search-btn:focus {
    background-color: #0c88be;
}

.date-container {
    margin: 0 0 0 8px;
}

.date-container > div {
    height: 100%;
}

.date-container > span {
    margin: 0 6px 0 6px;
    font-family: $font-primary, sans-serif;
    font-size: 18px;
    color: $color-secondary;
    letter-spacing: 0;
    text-align: left;
    line-height: 24px;
    font-weight: 400;
}

.search-date-input {
    height: 100%;
    padding: 0 12px 0 12px;
    min-width: 140px;
    border-radius: 4px;
    border-style: solid;
    border-color: #c7d2d9;
    border-width: 1px;
    font-family: $font-primary, sans-serif;
    font-size: 12px;
    color: #74838a;
    letter-spacing: 0;
    font-weight: 400;
}

.search-date-input::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    color: transparent;
    background: transparent;
}

.search-date-input:hover {
    border-color: #74838a !important;
    border-width: 1px;
}

.search-date-input:focus {
    outline: none;
    border-color: #0092d2 !important;
    border-width: 1px;
}

.date-filter-header {
    top: -24px;
}

.calendar-icon-container {
    height: 36px;
    width: 32px;
    background-color: #ffffff;
    margin: 0 1px 0 0;
}

.calendar-icon {
    width: 16px;
    height: 16px;
}

.order-info > div {
    width: 100%;
    display: block;
    margin-bottom: 5px;
}

#orderItems {
    width: 100%;
}

.order-item-header {
    padding-right: 15px;
}

.order-item-header-wrapper {
    background: var(--background-light-gray);
    border: 1px solid var(--border-light-gray);
    border-radius: 4px;
    display: grid;
    padding: 12px 16px;
    width: 100%;
    grid-template-columns: 1fr 250px 1fr 100px 1fr 1fr;
    margin-top: 16px;
}

.order-item-header-wrapper-three-columns {
    background: var(--background-light-gray);
    border: 1px solid var(--border-light-gray);
    border-radius: 4px;
    display: grid;
    padding: 12px 16px;
    width: 100%;
    grid-template-columns: 200px 1fr 100px;
}

.order-item-three-columns {
    padding: 20px 16px;
    display: grid;
    grid-template-columns: 200px 1fr 100px;
    border-bottom: 1px solid var(--border-light-gray);
}

.order-item {
    padding: 20px 16px;
    display: grid;
    grid-template-columns: 1fr 250px 1fr 100px 1fr 1fr;
    border-bottom: 1px solid var(--border-light-gray);
}

.order-item-summary {
    border-bottom: 0;
    padding: 0;
    font-size: 18px;
    font-family: $font-primary-bold, sans-serif;
}

.order-item-summary .order-item-subtotal,
.order-item-summary .order-item-unit-price {
    padding: 25px;
    background: var(--background-light-gray);
    border-bottom: 1px solid var(--border-light-gray);
}

.order-item > div {
    padding-right: 15px;
}

.order-item-img > img {
    width: 100%;
    max-height: 150px;
    object-fit: contain;
}

.order-item-title {
    font-family: $font-primary-bold, sans-serif;
}

.order-item-sku {
    font-size: 13px;
    color: $color-secondary;
    letter-spacing: 0;
    text-align: left;
}

.order-item-spec-list {
}

.order-item-spec {
    margin: 0 0 5px 0;
    display: inline-block;
    font-size: 13px;
    line-height: 20px;
}

.order-item-qty {
    /* ** not in use atm. ** */
    /*border: 1px solid #C7D2D9;*/
    /*border-radius: 4px;*/
    /*display: inline-block;*/
    /*width: 58px;*/
    /*height: 34px;*/
    /*padding: 4px 0 0 8px;*/
    /*box-sizing: border-box;*/
}

.order-item-unit-price,
.order-item-subtotal,
.order-item-qty {
    font-family: $font-primary-bold, sans-serif;
    font-size: 16px;
    color: $color-secondary;
    letter-spacing: 0;
    text-align: right;
    line-height: 20px;
}

.order-confirm {
    display: block;
    width: 100%;
    background: var(--background-light-gray);
    box-shadow: inset 4px 0 0 0 var(--approval-orange);
}

.order-confirm form {
    padding: 20px 14px;
}

.order-confirm input {
    display: block;
    background: #ffffff;
    border: 1px solid var(--border-light-gray);
    border-radius: 4px;
    height: 38px;
    padding: 9px;
}

.order-reject {
    background: var(--background-light-gray);
    box-shadow: inset 4px 0 0 0 var(--rejection-red);
    font-size: 14px;
    letter-spacing: 0;
    text-align: left;
    line-height: 20px;
}

.order-reject .message-container {
    padding: 16px 14px;
}

.order-reject .title {
    font-family: $font-primary-bold, sans-serif;
    font-weight: 600;
    margin: 0;
    padding: 0;

    color: var(--rejection-red);
    margin-bottom: 8px;
}

.order-reject .message {
    font-family: $font-primary, sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;

    color: $color-secondary;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 32px 0px 24px 0px;
}

.card-add-product {
    background: var(--background-light-gray);
    border: 1px solid var(--border-light-gray);
    border-radius: 4px;
    height: max-content;
    min-height: 120px;
    width: 100%;
    padding-bottom: 16px;
    color: $color-secondary;
    text-align: left;
}

.card-add-product .title {
    font-family: $font-primary-bold, sans-serif;
    font-size: 16px;
    letter-spacing: -0.55px;
    line-height: 22px;
    margin: 16px 16px 8px 16px;
}

.card-add-product .title:not(:first-child) {
    margin-top: 24px;
}

.card-add-product .content {
    font-family: $font-primary, sans-serif;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 20px;
    font-weight: 400;
    margin-left: 16px;
}

.card-add-product .content input[type='number'] {
    height: auto !important;
}

.alert-success {
    color: #ffffff;
    background-color: #0eae0e;
    border-color: #d6e9c6;
    border-radius: 4px;
}

.alert-success #close {
    color: #ffffff;
    opacity: 1 !important;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert-danger hr {
    border-top-color: #e4b9c0;
}

.alert-danger .alert-link {
    color: #843534;
}

.alert-danger #close {
    color: #000000;
    opacity: 1 !important;
}

#overview-overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 99;
    width: 100%;
    height: 100%;
}

#overview-overlay #content {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #0092d2;
}

.card-shipping {
    background: var(--background-light-gray);
    border: 1px solid var(--border-light-gray);
    border-radius: 4px;
    height: max-content;
    min-height: 142px;
    width: calc(50% - 0.5rem);
    padding-bottom: 16px;
    color: $color-secondary;
    text-align: left;
}

.card-shipping .title {
    font-family: $font-primary-bold, sans-serif;
    font-size: 16px;
    letter-spacing: -0.55px;
    line-height: 22px;
    /* font-weight: 700; */

    margin: 16px 16px 8px 16px;
}

.card-shipping .title:not(:first-child) {
    margin-top: 24px;
}

.card-shipping .text {
    font-family: $font-primary, sans-serif;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 20px;
    font-weight: 400;

    margin-left: 16px;
}

.card-shipping .subtext {
    font-family: $font-primary, sans-serif;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 20px;
    font-weight: 400;

    margin-left: 16px;
}

.payment-container {
    display: flex;
    margin: 0px 16px;
}

.payment-container .description {
    font-size: 14px;
    color: $color-secondary;
    letter-spacing: 0;
    text-align: left;
    line-height: 20px;
    font-weight: 400;
    align-self: center;
}

.payment-logo {
    width: 60px;
    height: 36px;
    margin-right: 8px;
}

.order-status {
    border-radius: 4px;
    margin: 16px 0 !important;
    padding: 7px 12px;
    width: max-content !important;
    height: 38px;
}

.order-status-Created {
    color: var(--created-green);
}

.order-status-Disapproved {
    color: var(--rejection-red);
}

.order-status-Done {
    color: var(--done-dark-blue);
}

.order-status-NeedsApproval {
    color: var(--approval-orange);
}

.optional {
    font-size: 12px;
    color: var(--optional-light-gray);
    letter-spacing: 0;
    text-align: left;
    line-height: 16px;
    font-weight: 400;
}

.btn-approve {
    background: var(--created-green);
    color: #ffffff;
    height: 38px;
}

.btn-approve:hover {
    background: #0abe0a;
    color: #ffffff;
}

.btn-approve:active {
    background: #138f13;
}

.btn-reject {
    background: var(--rejection-red);
    border-radius: 4px;
    color: #ffffff;
    height: 38px;
}

.btn-reject:hover {
    background: #dc1b32;
    color: #ffffff;
}

.btn-reject:active {
    background: #ba0c21;
}

.btn-rejection-toggle {
    cursor: pointer;
    user-select: none;
    margin: 0 0 0 16px;

    font-family: $font-primary, sans-serif;
    font-size: 14px;
    color: $color-primary;
    letter-spacing: 0;
    text-align: left;
    line-height: 28px;
    font-weight: 400;

    align-self: center;
}

.order-navigate-back {
    font-family: $font-primary, sans-serif;
    font-size: 12px;
    color: $color-primary;
    letter-spacing: -0.43px;
    text-align: left;
    font-weight: 400;
    margin-bottom: 8px;
    display: block;
    width: max-content;
}

.order-navigate-back img {
    margin-right: 4px;
    margin-bottom: 2px;
}

.padding-8px-16px {
    padding: 8px 16px;
}

.ff-open-sans-bold-12px {
    font-family: $font-primary-bold, sans-serif;
    font-size: 12px;
}

.ff-open-sans-bold {
    font-family: $font-primary-bold, sans-serif;
    font-size: 14px;
}

.ff-open-sans-semibold {
    font-family: $font-primary-bold, sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.margin-bottom-16px {
    margin-bottom: 16px;
}

.margin-top-16px {
    margin-top: 16px;
}

.max-width-350px {
    max-width: 350px;
}

.hide {
    display: none !important;
}

.w-max-content {
    width: max-content;
}

.Created-background {
    background: #cfffcf;
}

.Disapproved-background {
    background: #ffd1cc;
}

.Done-background {
    background: #d2f1ff;
}

.NeedsApproval-background {
    background: #ffe8b7;
}

h1.order-overview {
    font-family: $font-primary-bold, sans-serif;
    font-size: 25px;
    color: $color-primary;
    letter-spacing: -0.89px;
    text-align: left;
    line-height: 32px;
}

h4 {
    margin: 0;
}

.order-list {
    width: 100%;
}

.order-list-item {
    border: 1px solid var(--border-light-gray);
    border-radius: 4px;
    padding: 22px 16px;
    margin-bottom: 20px;
    width: 100%;
    font-size: 12px;
}

.w100 {
    width: 100%;
}

.btn > img {
    margin: 0 12px 0 0;
}

.overview-menu {
    padding: 16px;
    width: 100%;

    h1 {
        font-size: 18px;
        color: $color-secondary;
        text-align: left;
        margin: 0;
    }
}

.overview-menu-items {
    left: -15px;
    margin-bottom: 30px;
    position: relative;
    width: calc(100% + 35px);
}

.overview-menu-email img {
    margin-right: 5px;
}

.overview-menu-email {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 12px;
}

.overview-menu ul li a {
    text-decoration: none;
    text-align: left;
    line-height: 32px;
}

.overview-menu ul li:hover {
    padding-left: 42px;
}

.show-md,
.show-sm {
    display: none;
}

@media screen and (max-width: 1200px) {
    .show-md {
        display: inline-block;
    }

    .hidden-md {
        display: none;
    }

    .order-item-header-wrapper {
        margin-top: 16px;
        grid-template-columns: 150px auto;
    }

    .order-item {
        grid-template-columns: 150px auto;
        grid-column-gap: 15px;
    }

    .order-item-img {
        grid-row: 1 / span 3;
    }

    .order-item-img img {
        width: 150px;
        height: 150px;
    }

    .order-item-unit-price,
    .order-item-subtotal,
    .order-item-qty {
        text-align: left;
    }

    .order-item-summary {
        background: var(--background-light-gray) !important;
        border-bottom: 1px solid var(--border-light-gray);
    }

    .order-item-subtotal {
        text-align: right;
    }

    .order-item-summary .order-item-subtotal,
    .order-item-summary .order-item-unit-price {
        border-bottom: none;
    }
}

@media screen and (max-width: 800px) {
    .show-sm {
        display: inline-block;
    }

    .hidden-sm {
        display: none;
    }

    .order-item {
        grid-template-columns: auto;
        border: 1px solid #d7d7d7;
    }

    .order-item-subtotal {
        text-align: left;
    }

    .order-item-unit-price,
    .order-item-subtotal,
    .order-item-qty {
        margin-bottom: 10px;
    }

    .order-item-summary {
        grid-template-columns: 2fr auto;
    }
}
