.product-price-container {
    font-family: $font-primary, sans-serif;
    font-weight: 800;
    margin-top: 20px;
    color: $color-primary;
    text-align: left;
}

.product-detail-price-container {
    display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
    justify-content: space-between;
    align-items: flex-end;
    font-family: $font-primary, sans-serif;
    font-weight: 800;
    margin-top: 20px;
    color: $color-primary;
    text-align: left;
}

.product-price-unit {
    font-size: 24px;
}

.product-price {
    font-size: 40px;
    letter-spacing: 0.6px;
}

.product-card {
    padding: $spacing;
}

.product-card-price {
    font-size: 24px;
    letter-spacing: -0.62px;
}

.product-moq {
    font-size: 18px;
    font-weight: normal;
}
