.verspaning {
    background-image: url('../../assets/icon-verspaning-blue-32.svg');
}

.lastechniek {
    background-image: url('../../assets/icon-lastechniek-blue-32.svg');
}

.onderhoud {
    background-image: url('../../assets/icon-onderhoud-blue-32.svg');
}

.safety {
    background-image: url('../../assets/icon-safety-blue-32.svg');
}

.persluchttechniek {
    background-image: url('../../assets/icon-persluchttechniek-blue-32.svg');
}

.bevestigingsmateriaal {
    background-image: url('../../assets/icon-bevestigingsmateriaal-blue-32.svg');
}

.gereedschap {
    background-image: url('../../assets/icon-gereedschappen-blue-32.svg');
}
