.cx-input-container {
    position: relative;
}

.cx-input-container:after {
    content: '';
    background-image: url('../../assets/chat/icon-send.svg');
    background-repeat: no-repeat;
    width: 18px;
    height: 16px;
    position: absolute;
    top: 16px;
    right: 16px;
}

.lasaulec-theme .cx-side-button-group {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    top: unset;
    bottom: 0;
    right: 16px;
}

.cx-widget.cx-window-manager.lasaulec-theme {
    z-index: 100;
}

.lasaulec-theme .cx-side-button-group .cx-side-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    border-radius: 8px 8px 0 0;
    background-color: $color-primary;
    color: white;
    -webkit-box-shadow: 0 4px 16px 0 rgba(22, 60, 92, 0.16);
    box-shadow: 0 4px 16px 0 rgba(22, 60, 92, 0.16);
    font-size: 14px;
    padding: 12px 12px 12px 32px !important;
    letter-spacing: -0.4px;
    font-weight: 700;
    width: 187px;
    height: 48px;
    margin: 0;
}

.lasaulec-theme .cx-side-button-group .cx-side-button:before {
    content: '';
    background-image: url('../../assets/chat/icon-send.svg');
    width: 32px;
    height: 32px;
    position: absolute;
    left: 14px;
}

.lasaulec-theme .cx-widget.cx-webchat-chat-button .cx-chat-button-label {
    margin-bottom: 0;
}

.lasaulec-theme [aria-hidden='Cancel'] {
    display: none;
}

.lasaulec-theme .cx-powered-by {
    display: none;
}

.lasaulec-theme .cx-common-container .cx-footer {
    padding: 16px;
}

.lasaulec-theme .cx-webchat .cx-form {
    padding: 32px;
}

.cx-widget .lasaulec-theme {
    -webkit-box-shadow: 0 2px 6px 0 rgba(38, 82, 104, 0.1),
        0 8px 24px 0 rgba(22, 60, 92, 0.26);
    box-shadow: 0 2px 6px 0 rgba(38, 82, 104, 0.1),
        0 8px 24px 0 rgba(22, 60, 92, 0.26);
}

.lasaulec-theme .cx-message .cx-participant .cx-them .cx-Agent .cx-agent {
    display: none !important;
}

.lasaulec-theme .cx-bubble-arrow {
    display: none !important;
}

.lasaulec-theme .cx-bubble {
    margin: 0;
}

.lasaulec-theme .cx-body,
.lasaulec-theme . cx-common-container .cx-footer {
    background-color: white;
}

.lasaulec-theme .cx-body label,
.lasaulec-theme . cx-common-container .cx-footer label {
    font-size: 14px;
    color: $color-secondary !important;
    text-align: left;
    line-height: 16px;
    font-weight: 400;
}

.lasaulec-theme .cx-form table {
    margin-bottom: 20px !important;
}

.lasaulec-theme .cx-footer {
    display: none !important;
}

.lasaulec-theme .cx-form-inputs tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 12px;
}

.lasaulec-theme .cx-form-inputs th {
    padding-bottom: 4px;
}

.lasaulec-theme .cx-form-inputs input {
    background: #ffffff;
    border: 1px solid $border-color;
    border-radius: 4px;
    height: 38px;
}

.lasaulec-theme .cx-form-inputs input:focus {
    border-color: $color-primary;
}

.lasaulec-theme .cx-webchat .cx-form table td {
    padding: 0;
}

.lasaulec-theme .cx-common-container .cx-titlebar {
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from($color-primary),
        to(#007bb8)
    );
    background-image: linear-gradient(90deg, $color-primary 0%, #007bb8 100%);
    border-radius: 4px 4px 0 0;
    color: white;
    letter-spacing: -0.4px;
    font-weight: 700;
    padding: 12px 12px 12px 54px;
    position: relative;
    height: 64px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: none;
}

.lasaulec-theme .cx-common-container .cx-titlebar:before {
    content: '';
    background-image: url('../../assets/chat/icon-chat.svg');
    width: 32px;
    height: 32px;
    position: absolute;
    top: 50%;
    left: 30px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.lasaulec-theme .cx-common-container .cx-titlebar .cx-icon {
    display: none;
}

.lasaulec-theme .cx-common-container .cx-titlebar .cx-title {
    font-size: 18px;
    letter-spacing: -0.62px;
    font-weight: 700;
    position: relative;
    margin: 0;
}

.lasaulec-theme .cx-common-container .cx-titlebar .cx-title:after {
    content: 'online';
    background-color: #0eae0e;
    color: white;
    border-radius: 8px;
    width: 47px;
    font-size: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    letter-spacing: 0;
    line-height: 16px;
    font-weight: 200;
}

.lasaulec-theme .cx-icon svg {
    display: none;
}

.lasaulec-theme .cx-button-close {
    position: relative;
}

.lasaulec-theme .cx-button-close:before {
    content: '';
    background-image: url('../../assets/chat/cancel.svg');
    width: 16px;
    height: 16px;
    position: absolute;
    right: 0;
    top: 0;
}

.lasaulec-theme .cx-button-minimize {
    position: relative;
}

.lasaulec-theme .cx-button-minimize:before {
    content: '';
    background-image: url('../../assets/chat/minus.svg');
    width: 16px;
    height: 16px;
    position: absolute;
    right: 0;
    top: 0;
}

.lasaulec-theme .cx-form-wrapper .cx-button-group {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
}

.lasaulec-theme .cx-form-wrapper .cx-button-group .cx-btn-default {
    display: none;
}

.lasaulec-theme .cx-common-container .cx-footer {
    background-color: white;
}

.lasaulec-theme
    .cx-common-container
    .cx-form-horizontal
    .cx-button-group
    .cx-submit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#009de0),
        to(#0081c7)
    );
    background-image: linear-gradient(180deg, #009de0 0%, #0081c7 100%);
    border-radius: 4px;
    font-size: 14px;
    color: white;
    letter-spacing: -0.09px;
    line-height: 18px;
    width: 123px;
    height: 48px;
    padding: 12px 24px 12px 12px;
    font-weight: 700;
}

.lasaulec-theme
    .cx-common-container
    .cx-form-horizontal
    .cx-button-group
    .cx-submit.cx-submit {
    position: relative;
}

.lasaulec-theme
    .cx-common-container
    .cx-form-horizontal
    .cx-button-group
    .cx-submit.cx-submit:after {
    content: '';
    background-image: url('../../assets/chat/submit.svg');
    width: 12px;
    height: 12px;
    right: 12px;
    position: absolute;
}

.cx-webchat .cx-body {
    background-color: white;
}

.cx-common-container .cx-buttons-window-control button:focus {
    border: none !important;
}

.cx-webchat .cx-transcript .cx-message.cx-date {
    font-size: 10px;
    color: $color-secondary;
    letter-spacing: 0;
    text-align: center;
    font-weight: 600;
    background-color: #d8e3eb;
    position: relative;
    padding: 1px 12px !important;
}

.cx-webchat .cx-transcript .cx-message.cx-date:before {
    content: '';
    position: absolute;
    width: 50vw;
    height: 1px;
    background: #d8e3eb;
    left: 40px;
    top: 8px;
}

.cx-webchat .cx-transcript .cx-message.cx-date:after {
    content: '';
    position: absolute;
    width: 50vw;
    height: 1px;
    background: #d8e3eb;
    right: 40px;
    top: 8px;
}

.lasaulec-theme .cx-bubble {
    max-width: 80%;
}

.lasaulec-theme .cx-avatar.agent {
    display: none !important;
}

.lasaulec-theme .cx-message-group .cx-them {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: end;
}

.lasaulec-theme .cx-message-group .cx-them .cx-bubble {
    text-align: right !important;
}

.lasaulec-theme .cx-message-group .cx-them .cx-bubble .cx-message-text {
    width: 100%;
}

.lasaulec-theme .cx-input-container {
    padding: 12px !important;
    height: 48px;
    background-color: white;
    border: none;
    font-size: 13px;
    color: #9aabb3;
    letter-spacing: -0.26px;
    line-height: 16px;
    font-weight: 400;
    -webkit-box-shadow: 0 2px 6px 0 rgba(38, 82, 104, 0.1),
        0 8px 24px 0 rgba(22, 60, 92, 0.26);
    box-shadow: 0 2px 6px 0 rgba(38, 82, 104, 0.1),
        0 8px 24px 0 rgba(22, 60, 92, 0.26);
}

.lasaulec-theme .cx-bubble-arrow,
.lasaulec-theme .cx-avatar-wrapper {
    display: none !important;
}

.lasaulec-theme .cx-bubble-arrow svg {
    display: none !important;
}

.lasaulec-theme .cx-bubble {
    padding: 0 !important;
    margin: 0 !important;
}

.lasaulec-theme .cx-webchat .cx-transcript .cx-avatar {
    display: none;
}

.lasaulec-theme .cx-time,
.lasaulec-theme .cx-name {
    font-size: 10px !important;
    color: #9aabb3;
    letter-spacing: -0.2px;
    line-height: 12px;
    font-weight: 600;
}

.lasaulec-theme .cx-message-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #d8e3eb;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 13px;
    color: $color-secondary;
    letter-spacing: -0.26px;
    line-height: 16px;
    font-weight: 400;
}

.lasaulec-theme .cx-message-input {
    font-size: 13px !important;
    position: relative;
    color: #9aabb3;
}

.lasaulec-theme .cx-message-input:after {
    content: '';
    background-image: url('../../assets/chat/icon-send.svg');
    width: 16px;
    height: 16px;
    position: absolute;
}

.cx-webchat .cx-transcript {
    background: $color-extra-light-grey;
}

.cx-webchat div.cx-input-container {
    border: none !important;
}

.cx-webchat div.cx-input-container .cx-message-input {
    margin: 4px 0 0 0 !important;
}

/**
* @name common-theme-dark.less
* @desc less file for dark theme styles
*/
/* Convert to CSS using online tools such as http://less2css.org/ */
/* Color Palette */
/*
	Dark Theme Color Overrides
*/
.cx-widget.cx-theme-kpn {
    color: #fdfdfd !important;
    background-color: $color-primary;
}

.cx-widget.cx-theme-kpn .cx-overlay {
    background-color: #009900;
}

.cx-widget.cx-theme-kpn .cx-svg-icon-tone1 {
    fill: #fdfdfd;
}

.cx-widget.cx-theme-kpn .cx-svg-icon-tone2 {
    fill: #8c8c8c;
}

.cx-widget.cx-theme-kpn .cx-svg-icon-shadow1 {
    fill: #000000;
    opacity: 0.2;
}

.cx-widget.cx-theme-kpn .cx-svg-icon-shadow2 {
    fill: #000000;
    opacity: 0.1;
}

.cx-widget.cx-theme-kpn * {
    border-color: #ffffff !important;
}

.cx-widget.cx-theme-kpn .cx-titlebar .cx-title {
    color: #fdfdfd;
}

.cx-widget.cx-theme-kpn .cx-buttons-window-control .cx-svg-icon-tone1 {
    fill: #98a7b8;
}

.cx-widget.cx-theme-kpn .cx-input-icon-overlay .cx-svg-icon-tone1 {
    fill: #98a7b8;
}

.cx-widget.cx-theme-kpn label {
    color: #fdfdfd;
}

.cx-widget.cx-theme-kpn a {
    color: #5081e1;
}

.cx-widget.cx-theme-kpn a:hover {
    color: #fdfdfd;
}

.cx-widget.cx-theme-kpn .cx-dropdown {
    color: #000000;
}

.cx-widget.cx-theme-kpn .cx-icon-alert-circle {
    color: #ea4f6b;
}

.cx-widget.cx-theme-kpn .cx-footer {
    color: #98a7b8;
}

.cx-widget.cx-theme-kpn .cx-footer * {
    fill: #98a7b8;
}

.cx-widget.cx-theme-kpn .cx-powered-by {
    display: none !important;
}

.cx-widget.cx-theme-kpn .cx-form-control.cx-error {
    border-color: #ea4f6b !important;
}

.cx-widget.cx-theme-kpn .cx-form-control::-webkit-input-placeholder {
    color: #c5ccd6;
}

.cx-widget.cx-theme-kpn .cx-form-control:-ms-input-placeholder {
    color: #c5ccd6;
}

.cx-widget.cx-theme-kpn .cx-form-control::-ms-input-placeholder {
    color: #c5ccd6;
}

.cx-widget.cx-theme-kpn .cx-form-control::placeholder {
    color: #c5ccd6;
}

.cx-widget.cx-theme-kpn .cx-form-control:-moz-placeholder {
    color: #c5ccd6;
}

.cx-widget.cx-theme-kpn .cx-form-control::-moz-placeholder {
    color: #c5ccd6;
}

.cx-widget.cx-theme-kpn .cx-form-control:-ms-input-placeholder {
    color: #c5ccd6;
}

.cx-widget.cx-theme-kpn .cx-form-control::-webkit-input-placeholder {
    color: #c5ccd6;
}

.cx-widget.cx-theme-kpn input:focus,
.cx-widget.cx-theme-kpn textarea:focus,
.cx-widget.cx-theme-kpn .cx-btn:focus,
.cx-widget.cx-theme-kpn .cx-button-group button:focus,
.cx-widget.cx-theme-kpn .cx-form-control:focus {
    border-color: #ffffff !important;
}

.cx-widget.cx-theme-kpn input[type='text'],
.cx-widget.cx-theme-kpn input[type='email'],
.cx-widget.cx-theme-kpn input[type='tel'],
.cx-widget.cx-theme-kpn textarea {
    background-color: #777777;
    color: #fdfdfd;
}

.cx-widget.cx-theme-kpn .cx-btn-default {
    background: none;
    border-color: #ffffff !important;
    color: #fdfdfd;
    background-color: #222529;
}

.cx-widget.cx-theme-kpn .cx-btn.cx-disabled {
    background: #cccccc;
}

.cx-widget.cx-theme-kpn .cx-btn-primary {
    color: #fdfdfd;
    border-color: #00aaff !important;
    background: #5081e1;
    /* Old browsers */
    /* FF3.6-15 */
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#5081e1),
        to(#4375d6)
    );
    background: linear-gradient(to bottom, #5081e1 0%, #4375d6 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@bg_color_4', endColorstr='@bg_color_5', GradientType=0);
    /* IE6-9 */
}

.cx-widget.cx-theme-kpn .cx-ac-dropdown-menu {
    background: #009900;
    border-color: #ffffff !important;
}

.cx-widget.cx-theme-kpn .cx-ac-suggestion:hover,
.cx-widget.cx-theme-kpn .cx-ac-suggestion.cx-active {
    background-color: #ffffff;
    color: #fdfdfd;
}

.cx-widget.cx-theme-kpn .iScrollIndicator {
    background: #cccccc;
}

.cx-widget.cx-theme-kpn .cx-smokescreen {
    background-color: #009900;
    opacity: 0.7;
}

.cx-widget.cx-theme-kpn .cx-dialog-container .cx-dialog {
    background-color: #009900;
    border-color: #ffffff !important;
}

.cx-widget.cx-theme-kpn .cx-theme-background {
    background-color: #009900;
}

.cx-widget.cx-theme-kpn .cx-theme-border {
    border: 1px solid #ffffff !important;
}

.cx-widget.cx-theme-kpn .cx-theme-text {
    color: #fdfdfd;
}

.cx-widget.cx-theme-kpn .cx-theme-icon-interactive1 svg .cx-svg-icon-tone1 {
    fill: #5081e1;
}

.cx-widget.cx-theme-kpn .cx-theme-icon-positive svg .cx-svg-icon-tone1 {
    fill: #4ac764;
}

.cx-widget.cx-theme-kpn .cx-theme-icon-negative svg .cx-svg-icon-tone1 {
    fill: #ea4f6b;
}

.cx-widget.cx-theme-kpn .cx-theme-icon-warning svg .cx-svg-icon-tone1 {
    fill: #f8a740;
}

/**
* @name common-theme-dark.less
* @desc less file for dark theme styles
*/
/* Convert to CSS using online tools such as http://less2css.org/ */
/* Color Palette */
/*
	Dark Theme Color Overrides
*/
.cx-widget.cx-theme-dark {
    color: #fdfdfd;
    background-color: #33383d;
}

.cx-widget.cx-theme-dark .cx-overlay {
    background-color: #33383d;
}

.cx-widget.cx-theme-dark .cx-svg-icon-tone1 {
    fill: #fdfdfd;
}

.cx-widget.cx-theme-dark .cx-svg-icon-tone2 {
    fill: #8c8c8c;
}

.cx-widget.cx-theme-dark .cx-svg-icon-shadow1 {
    fill: #000000;
    opacity: 0.2;
}

.cx-widget.cx-theme-dark .cx-svg-icon-shadow2 {
    fill: #000000;
    opacity: 0.1;
}

.cx-widget.cx-theme-dark * {
    border-color: #222529 !important;
}

.cx-widget.cx-theme-dark .cx-titlebar .cx-title {
    color: #fdfdfd;
}

.cx-widget.cx-theme-dark .cx-buttons-window-control .cx-svg-icon-tone1 {
    fill: #98a7b8;
}

.cx-widget.cx-theme-dark .cx-input-icon-overlay .cx-svg-icon-tone1 {
    fill: #98a7b8;
}

.cx-widget.cx-theme-dark label {
    color: #fdfdfd;
}

.cx-widget.cx-theme-dark a {
    color: #5081e1;
}

.cx-widget.cx-theme-dark a:hover {
    color: #fdfdfd;
}

.cx-widget.cx-theme-dark .cx-dropdown {
    color: #000000;
}

.cx-widget.cx-theme-dark .cx-icon-alert-circle {
    color: #ea4f6b;
}

.cx-widget.cx-theme-dark .cx-footer {
    color: #98a7b8;
}

.cx-widget.cx-theme-dark .cx-footer * {
    fill: #98a7b8;
}

.cx-widget.cx-theme-dark .cx-form-control.cx-error {
    border-color: #ea4f6b !important;
}

.cx-widget.cx-theme-dark .cx-form-control::-webkit-input-placeholder {
    color: #c5ccd6;
}

.cx-widget.cx-theme-dark .cx-form-control:-ms-input-placeholder {
    color: #c5ccd6;
}

.cx-widget.cx-theme-dark .cx-form-control::-ms-input-placeholder {
    color: #c5ccd6;
}

.cx-widget.cx-theme-dark .cx-form-control::placeholder {
    color: #c5ccd6;
}

.cx-widget.cx-theme-dark .cx-form-control:-moz-placeholder {
    color: #c5ccd6;
}

.cx-widget.cx-theme-dark .cx-form-control::-moz-placeholder {
    color: #c5ccd6;
}

.cx-widget.cx-theme-dark .cx-form-control:-ms-input-placeholder {
    color: #c5ccd6;
}

.cx-widget.cx-theme-dark .cx-form-control::-webkit-input-placeholder {
    color: #c5ccd6;
}

.cx-widget.cx-theme-dark input:focus,
.cx-widget.cx-theme-dark textarea:focus,
.cx-widget.cx-theme-dark .cx-btn:focus,
.cx-widget.cx-theme-dark .cx-button-group button:focus,
.cx-widget.cx-theme-dark .cx-form-control:focus {
    border-color: #75a8ff !important;
}

.cx-widget.cx-theme-dark input[type='text'],
.cx-widget.cx-theme-dark input[type='email'],
.cx-widget.cx-theme-dark input[type='tel'],
.cx-widget.cx-theme-dark textarea {
    background-color: #444a52;
    color: #fdfdfd;
}

.cx-widget.cx-theme-dark .cx-btn-default {
    background: none;
    border-color: #222529 !important;
    color: #fdfdfd;
    background-color: #222529;
}

.cx-widget.cx-theme-dark .cx-btn.cx-disabled {
    background: #cccccc;
}

.cx-widget.cx-theme-dark .cx-btn-primary {
    color: #fdfdfd;
    border-color: #2e69db !important;
    background: #5081e1;
    /* Old browsers */
    /* FF3.6-15 */
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#5081e1),
        to(#4375d6)
    );
    background: linear-gradient(to bottom, #5081e1 0%, #4375d6 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@bg_color_4', endColorstr='@bg_color_5', GradientType=0);
    /* IE6-9 */
}

.cx-widget.cx-theme-dark .cx-ac-dropdown-menu {
    background: #33383d;
    border-color: #222529 !important;
}

.cx-widget.cx-theme-dark .cx-ac-suggestion:hover,
.cx-widget.cx-theme-dark .cx-ac-suggestion.cx-active {
    background-color: #75a8ff;
    color: #fdfdfd;
}

.cx-widget.cx-theme-dark .iScrollIndicator {
    background: #cccccc;
}

.cx-widget.cx-theme-dark .cx-smokescreen {
    background-color: #33383d;
    opacity: 0.7;
}

.cx-widget.cx-theme-dark .cx-dialog-container .cx-dialog {
    background-color: #33383d;
    border-color: #222529 !important;
}

.cx-widget.cx-theme-dark .cx-theme-background {
    background-color: #33383d;
}

.cx-widget.cx-theme-dark .cx-theme-border {
    border: 1px solid #222529 !important;
}

.cx-widget.cx-theme-dark .cx-theme-text {
    color: #fdfdfd;
}

.cx-widget.cx-theme-dark .cx-theme-icon-interactive1 svg .cx-svg-icon-tone1 {
    fill: #5081e1;
}

.cx-widget.cx-theme-dark .cx-theme-icon-positive svg .cx-svg-icon-tone1 {
    fill: #4ac764;
}

.cx-widget.cx-theme-dark .cx-theme-icon-negative svg .cx-svg-icon-tone1 {
    fill: #ea4f6b;
}

.cx-widget.cx-theme-dark .cx-theme-icon-warning svg .cx-svg-icon-tone1 {
    fill: #f8a740;
}

.cx-webchat .cx-alert {
    display: none;
    z-index: 999999;
    -webkit-transform: translateY(-30%);
    transform: translateY(-30%);
    position: absolute;
    width: 100%;
}

.cx-webchat .cx-alert > .cx-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border: none !important;
    margin: 0 16px !important;
    padding: 24px !important;
}

.cx-button-group.cx-buttons-binary {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.lasaulec-theme .cx-button-group .cx-end-cancel,
.lasaulec-theme .cx-button-group .cx-btn-default {
    margin-right: 10px;
}

.cx-button-group.cx-buttons-binary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.lasaulec-theme .cx-form-wrapper .cx-button-group.cx-buttons-binary {
    -webkit-box-pack: end !important;
    -ms-flex-pack: end !important;
    justify-content: end !important;
}

.lasaulec-theme #cx_chat_end_question {
    font-size: 18px;
    color: $color-secondary;
    letter-spacing: -0.62px;
    text-align: left;
    font-weight: 700;
    margin: 0;
    padding-bottom: 24px;
}

.lasaulec-theme .cx-alert.cx-chat-end {
    min-width: 90%;
}

.lasaulec-theme .cx-button-group .cx-end-cancel,
.lasaulec-theme .cx-button-group .cx-btn-default {
    border: 0;
    background: none;
    color: $color-secondary;
    letter-spacing: -0.09px;
    text-align: center;
    line-height: 18px;
    font-weight: 400;
    border: 1px solid $border-color;
    border-radius: 4px;
}

.lasaulec-theme .cx-button-group .cx-end-confirm {
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#009de0),
        to(#0081c7)
    );
    background-image: linear-gradient(180deg, #009de0 0%, #0081c7 100%);
    border-radius: 4px;
    color: white;
    font-size: 14px;
    color: #ffffff;
    letter-spacing: -0.09px;
    text-align: center;
    line-height: 18px;
    font-weight: 700;
    height: 38px;
}

cx-widget .cx-btn:focus {
    border: none;
    padding-top: unset !important;
    padding-bottom: unset !important;
}

.cx-common-container .cx-buttons-window-control button:focus {
    border: 0;
}

.cx-webchat .cx-alert > .cx-wrapper {
    margin: 0;
}

.cx-webchat .cx-alert {
    padding: 0 !important;
    width: unset !important;
    top: 30% !important;
}

.cx-smokescreen {
    background: $color-secondary;
    opacity: 0.3;
}

/**
* @name common-theme-dark.less
* @desc less file for dark theme styles
*/
/* Convert to CSS using online tools such as http://less2css.org/ */
/* Color Palette */
/*
	Dark Theme Color Overrides by KPN Colors
*/
.cx-widget.cx-theme-kpn {
    color: #fdfdfd;
    background-color: #009900;
}

.cx-widget.cx-theme-kpn .cx-overlay {
    background-color: #009900;
}

.cx-widget.cx-theme-kpn .cx-svg-icon-tone1 {
    fill: #fdfdfd;
}

.cx-widget.cx-theme-kpn .cx-svg-icon-tone2 {
    fill: #8c8c8c;
}

.cx-widget.cx-theme-kpn .cx-svg-icon-shadow1 {
    fill: #000000;
    opacity: 0.2;
}

.cx-widget.cx-theme-kpn .cx-svg-icon-shadow2 {
    fill: #000000;
    opacity: 0.1;
}

.cx-widget.cx-theme-kpn * {
    border-color: #ffffff !important;
}

.cx-widget.cx-theme-kpn .cx-titlebar .cx-title {
    color: #fdfdfd;
}

.cx-widget.cx-theme-kpn .cx-buttons-window-control .cx-svg-icon-tone1 {
    fill: #98a7b8;
}

.cx-widget.cx-theme-kpn .cx-input-icon-overlay .cx-svg-icon-tone1 {
    fill: #98a7b8;
}

.cx-widget.cx-theme-kpn label {
    color: #fdfdfd;
}

.cx-widget.cx-theme-kpn a {
    color: #5081e1;
}

.cx-widget.cx-theme-kpn a:hover {
    color: #fdfdfd;
}

.cx-widget.cx-theme-kpn .cx-dropdown {
    color: #000000;
}

.cx-widget.cx-theme-kpn .cx-icon-alert-circle {
    color: #ea4f6b;
}

.cx-widget.cx-theme-kpn .cx-footer {
    color: #98a7b8;
}

.cx-widget.cx-theme-kpn .cx-powered-by {
    display: none !important;
}

.cx-widget.cx-theme-kpn .cx-footer * {
    fill: #98a7b8;
}

.cx-widget.cx-theme-kpn .cx-form-control.cx-error {
    border-color: #ea4f6b !important;
}

.cx-widget.cx-theme-kpn .cx-form-control::-webkit-input-placeholder {
    color: #c5ccd6;
}

.cx-widget.cx-theme-kpn .cx-form-control:-ms-input-placeholder {
    color: #c5ccd6;
}

.cx-widget.cx-theme-kpn .cx-form-control::-ms-input-placeholder {
    color: #c5ccd6;
}

.cx-widget.cx-theme-kpn .cx-form-control::placeholder {
    color: #c5ccd6;
}

.cx-widget.cx-theme-kpn .cx-form-control:-moz-placeholder {
    color: #c5ccd6;
}

.cx-widget.cx-theme-kpn .cx-form-control::-moz-placeholder {
    color: #c5ccd6;
}

.cx-widget.cx-theme-kpn .cx-form-control:-ms-input-placeholder {
    color: #c5ccd6;
}

.cx-widget.cx-theme-kpn .cx-form-control::-webkit-input-placeholder {
    color: #c5ccd6;
}

.cx-widget.cx-theme-kpn input:focus,
.cx-widget.cx-theme-kpn textarea:focus,
.cx-widget.cx-theme-kpn .cx-btn:focus,
.cx-widget.cx-theme-kpn .cx-button-group button:focus,
.cx-widget.cx-theme-kpn .cx-form-control:focus {
    border-color: #ffffff !important;
}

.cx-widget.cx-theme-kpn input[type='text'],
.cx-widget.cx-theme-kpn input[type='email'],
.cx-widget.cx-theme-kpn input[type='tel'],
.cx-widget.cx-theme-kpn textarea {
    background-color: #fdfdfd;
    color: #fdfdfd;
}

.cx-widget.cx-theme-kpn .cx-btn-default {
    background: none;
    border-color: #ffffff !important;
    color: #fdfdfd;
    background-color: #222529;
}

.cx-widget.cx-theme-kpn .cx-btn.cx-disabled {
    background: #cccccc;
}

.cx-widget.cx-theme-kpn .cx-btn-primary {
    color: #fdfdfd;
    border-color: #00aaff !important;
    background: #5081e1;
    /* Old browsers */
    /* FF3.6-15 */
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#5081e1),
        to(#4375d6)
    );
    background: linear-gradient(to bottom, #5081e1 0%, #4375d6 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@bg_color_4', endColorstr='@bg_color_5', GradientType=0);
    /* IE6-9 */
}

.cx-widget.cx-theme-kpn .cx-ac-dropdown-menu {
    background: #009900;
    border-color: #ffffff !important;
}

.cx-widget.cx-theme-kpn .cx-ac-suggestion:hover,
.cx-widget.cx-theme-kpn .cx-ac-suggestion.cx-active {
    background-color: #ffffff;
    color: #fdfdfd;
}

.cx-widget.cx-theme-kpn .iScrollIndicator {
    background: #cccccc;
}

.cx-widget.cx-theme-kpn .cx-smokescreen {
    background-color: #009900;
    opacity: 0.7;
}

.cx-widget.cx-theme-kpn .cx-dialog-container .cx-dialog {
    background-color: #009900;
    border-color: #ffffff !important;
}

.cx-widget.cx-theme-kpn .cx-theme-background {
    background-color: #009900;
}

.cx-widget.cx-theme-kpn .cx-theme-border {
    border: 1px solid #ffffff !important;
}

.cx-widget.cx-theme-kpn .cx-theme-text {
    color: #fdfdfd;
}

.cx-widget.cx-theme-kpn .cx-theme-icon-interactive1 svg .cx-svg-icon-tone1 {
    fill: #5081e1;
}

.cx-widget.cx-theme-kpn .cx-theme-icon-positive svg .cx-svg-icon-tone1 {
    fill: #4ac764;
}

.cx-widget.cx-theme-kpn .cx-theme-icon-negative svg .cx-svg-icon-tone1 {
    fill: #ea4f6b;
}

.cx-widget.cx-theme-kpn .cx-theme-icon-warning svg .cx-svg-icon-tone1 {
    fill: #f8a740;
}

/*
Dark Theme Color Overrides
*/
.cx-widget.cx-theme-dark {
    color: #fdfdfd;
    background-color: #33383d;
}

.cx-widget.cx-theme-dark .cx-overlay {
    background-color: #33383d;
}

.cx-widget.cx-theme-dark .cx-svg-icon-tone1 {
    fill: #fdfdfd;
}

.cx-widget.cx-theme-dark .cx-svg-icon-tone2 {
    fill: #8c8c8c;
}

.cx-widget.cx-theme-dark .cx-svg-icon-shadow1 {
    fill: #000000;
    opacity: 0.2;
}

.cx-widget.cx-theme-dark .cx-svg-icon-shadow2 {
    fill: #000000;
    opacity: 0.1;
}

.cx-widget.cx-theme-dark * {
    border-color: #222529 !important;
}

.cx-widget.cx-theme-dark .cx-titlebar .cx-title {
    color: #fdfdfd;
}

.cx-widget.cx-theme-dark .cx-buttons-window-control .cx-svg-icon-tone1 {
    fill: #98a7b8;
}

.cx-widget.cx-theme-dark .cx-input-icon-overlay .cx-svg-icon-tone1 {
    fill: #98a7b8;
}

.cx-widget.cx-theme-dark label {
    color: #fdfdfd;
}

.cx-widget.cx-theme-dark a {
    color: #5081e1;
}

.cx-widget.cx-theme-dark a:hover {
    color: #fdfdfd;
}

.cx-widget.cx-theme-dark .cx-dropdown {
    color: #000000;
}

.cx-widget.cx-theme-dark .cx-icon-alert-circle {
    color: #ea4f6b;
}

.cx-widget.cx-theme-dark .cx-footer {
    color: #98a7b8;
}

.cx-widget.cx-theme-dark .cx-footer * {
    fill: #98a7b8;
}

.cx-widget.cx-theme-dark .cx-form-control.cx-error {
    border-color: #ea4f6b !important;
}

.cx-widget.cx-theme-dark .cx-form-control::-webkit-input-placeholder {
    color: #c5ccd6;
}

.cx-widget.cx-theme-dark .cx-form-control:-ms-input-placeholder {
    color: #c5ccd6;
}

.cx-widget.cx-theme-dark .cx-form-control::-ms-input-placeholder {
    color: #c5ccd6;
}

.cx-widget.cx-theme-dark .cx-form-control::placeholder {
    color: #c5ccd6;
}

.cx-widget.cx-theme-dark .cx-form-control:-moz-placeholder {
    color: #c5ccd6;
}

.cx-widget.cx-theme-dark .cx-form-control::-moz-placeholder {
    color: #c5ccd6;
}

.cx-widget.cx-theme-dark .cx-form-control:-ms-input-placeholder {
    color: #c5ccd6;
}

.cx-widget.cx-theme-dark .cx-form-control::-webkit-input-placeholder {
    color: #c5ccd6;
}

.cx-widget.cx-theme-dark input:focus,
.cx-widget.cx-theme-dark textarea:focus,
.cx-widget.cx-theme-dark .cx-btn:focus,
.cx-widget.cx-theme-dark .cx-button-group button:focus,
.cx-widget.cx-theme-dark .cx-form-control:focus {
    border-color: #75a8ff !important;
}

.cx-widget.cx-theme-dark input[type='text'],
.cx-widget.cx-theme-dark input[type='email'],
.cx-widget.cx-theme-dark input[type='tel'],
.cx-widget.cx-theme-dark textarea {
    background-color: #444a52;
    color: #fdfdfd;
}

.cx-widget.cx-theme-dark .cx-btn-default {
    background: none;
    border-color: #222529 !important;
    color: #fdfdfd;
    background-color: #222529;
}

.cx-widget.cx-theme-dark .cx-btn.cx-disabled {
    background: #cccccc;
}

.cx-widget.cx-theme-dark .cx-btn-primary {
    color: #fdfdfd;
    border-color: #2e69db !important;
    background: #5081e1;
    /* Old browsers */
    /* FF3.6-15 */
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#5081e1),
        to(#4375d6)
    );
    background: linear-gradient(to bottom, #5081e1 0%, #4375d6 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@bg_color_4', endColorstr='@bg_color_5', GradientType=0);
    /* IE6-9 */
}

.cx-widget.cx-theme-dark .cx-ac-dropdown-menu {
    background: #33383d;
    border-color: #222529 !important;
}

.cx-widget.cx-theme-dark .cx-ac-suggestion:hover,
.cx-widget.cx-theme-dark .cx-ac-suggestion.cx-active {
    background-color: #75a8ff;
    color: #fdfdfd;
}

.cx-widget.cx-theme-dark .iScrollIndicator {
    background: #cccccc;
}

.cx-widget.cx-theme-dark .cx-smokescreen {
    background-color: #33383d;
    opacity: 0.7;
}

.cx-widget.cx-theme-dark .cx-dialog-container .cx-dialog {
    background-color: #33383d;
    border-color: #222529 !important;
}

.cx-widget.cx-theme-dark .cx-theme-background {
    background-color: #33383d;
}

.cx-widget.cx-theme-dark .cx-theme-border {
    border: 1px solid #222529 !important;
}

.cx-widget.cx-theme-dark .cx-theme-text {
    color: #fdfdfd;
}

.cx-widget.cx-theme-dark .cx-theme-icon-interactive1 svg .cx-svg-icon-tone1 {
    fill: #5081e1;
}

.cx-widget.cx-theme-dark .cx-theme-icon-positive svg .cx-svg-icon-tone1 {
    fill: #4ac764;
}

.cx-widget.cx-theme-dark .cx-theme-icon-negative svg .cx-svg-icon-tone1 {
    fill: #ea4f6b;
}

.cx-widget.cx-theme-dark .cx-theme-icon-warning svg .cx-svg-icon-tone1 {
    fill: #f8a740;
}
/*# sourceMappingURL=styles.css.map */

.cx_webchat_form_lastname {
    display: none;
}
