.category__tiles {
	&.list {
		.product-tiles {
			grid-gap: 20px;
			grid-template-columns: repeat(1, 1fr);

			&__stock {
				&.grid {
					display: none;
				}

				&.list {
					display: blocks;
				}
			}

			.tile {
				border-left: 5px solid transparent;
				border-radius: 4px;
				border-top: none;

				&:hover {
					border-left: 5px solid $color-secondary;
					border-top: none;
					border-radius: 0 0 4px 0;
					box-shadow: $card-shadow;
				}

				&__data {
					padding-bottom: 4px;
				}

				&__info {
					flex-direction: row;
					padding: 0;
				}

				&__brand {
					padding: 0;
				}

				&__category {
					margin: 6px 0;
					padding-top: 0;
					padding-bottom: 0;
				}

				&__image {
					padding: 0;
					margin-right: 24px;
				}

				.img-wrapper {
					align-items: center;
					justify-content: center;
					flex: 0 1 auto;
					max-width: 172px;
					width: 172px;
				}

				&__inner {
					flex-direction: row;
					border: none;
					padding: 20px;
				}

				&__stock {
					display: block;
					margin: 12px 0;

					&.grid {
						display: none;
					}
				}
			}
		}
	}
}

@include mobile {
	.category__tiles {
		&.list {
			.product-tiles {
				.tile {
					&__info {
						flex-direction: column;
					}

					.btn--cart {
						margin-top: 4px;
					}
				}
			}
		}
	}
}

@include mobile-xs {
	.category__tiles.list .product-tiles .tile__inner {
		flex-direction: column;
	}
}

@include mobile-xxs {
	.category__tiles.list .product-tiles .tile__inner {
		flex-direction: column;
	}
}
