$arrow-right: '\e90a';
$arrow-left: '\e907';
$arrow-down: '\e906';
$arrow-up: '\e914';
$icon-error: '\e90e';
$icon-tools: '\e900';
$icon-search: '\e901';
$icon-cancel: '\e90d';
$icon-success: '\e904';
$icon-user: '\e903';
$icon-check: '\e916';
$icon-check-round: '\e904';
$icon-plus: '\e918';
$icon-invoice-round: '\e919';
$icon-home-round: '\e92b'; //regular home
$icon-star: '\e91e';
$icon-star-full: '\e92e'; //?
$icon-cart-full: '\e91f';
$icon-cancel: '\e915';
$icon-phone: '\e922';
$icon-location: '\e923';
$icon-language: '\e925';
$icon-email: '\e926';
$icon-edit: '\e927';
$icon-trash: '\e928';
$arrow-down-2: '\e911';
$arrow-foward: '\e913';
$arrow-up: '\e914';

.icon-icon-arrowdown:before {
    content: '\e911';
}

.icon-test {
    font-size: 20px;

    .arrow-right {
        &:after {
            font-family: $font-icons;
            content: $arrow-right;
            font-size: 20px;
        }
    }

    .arrow-left {
        &:after {
            font-family: $font-icons;
            content: $arrow-left;
            font-size: 20px;
        }
    }

    .arrow-up {
        &:after {
            font-family: $font-icons;
            content: $arrow-up;
            font-size: 20px;
        }
    }

    .arrow-down {
        &:after {
            font-family: $font-icons;
            content: $arrow-down;
            font-size: 20px;
        }
    }

    .arrow-right {
        &:after {
            font-family: $font-icons;
            content: $arrow-right;
            font-size: 20px;
        }
    }

    .arrow-right {
        &:after {
            font-family: $font-icons;
            content: $arrow-right;
            font-size: 20px;
        }
    }

    .icon-tools {
        &:after {
            font-family: $font-icons;
            content: $icon-tools;
            font-size: 20px;
        }
    }

    .icon-search {
        &:after {
            font-family: $font-icons;
            content: $icon-search;
            font-size: 20px;
        }
    }

    .icon-user {
        &:after {
            font-family: $font-icons;
            content: $icon-user;
            font-size: 20px;
        }
    }

    .icon-success {
        &:after {
            font-family: $font-icons;
            content: $icon-success;
            font-size: 20px;
        }
    }

    .icon-error {
        &:after {
            font-family: $font-icons;
            content: $icon-error;
            font-size: 20px;
        }
    }

    .icon-cancel {
        &:after {
            font-family: $font-icons;
            content: $icon-cancel;
            font-size: 20px;
        }
    }

    .icon-plus {
        &:after {
            font-family: $font-icons;
            content: $icon-plus;
            font-size: 20px;
        }
    }

    .icon-invoice-round {
        &:after {
            font-family: $font-icons;
            content: $icon-invoice-round;
            font-size: 20px;
        }
    }

    .icon-home-round {
        &:after {
            font-family: $font-icons;
            content: $icon-home-round;
            font-size: 20px;
        }
    }

    .icon-star {
        &:after {
            font-family: $font-icons;
            content: $icon-star;
            font-size: 20px;
        }
    }

    .icon-cart-full {
        &:after {
            font-family: $font-icons;
            content: $icon-cart-full;
            font-size: 20px;
        }
    }
    .icon-cancel {
        &:after {
            font-family: $font-icons;
            content: $icon-cancel;
            font-size: 20px;
        }
    }
    .icon-phone {
        &:after {
            font-family: $font-icons;
            content: $icon-phone;
            font-size: 20px;
        }
    }

    .icon-location {
        &:after {
            font-family: $font-icons;
            content: $icon-location;
            font-size: 20px;
        }
    }

    .icon-language {
        &:after {
            font-family: $font-icons;
            content: $icon-language;
            font-size: 20px;
        }
    }

    .icon-email {
        &:after {
            font-family: $font-icons;
            content: $icon-email;
            font-size: 20px;
        }
    }

    .icon-edit {
        &:after {
            font-family: $font-icons;
            content: $icon-edit;
            font-size: 20px;
        }
    }
    .icon-trash {
        &:after {
            font-family: $font-icons;
            content: $icon-trash;
            font-size: 20px;
        }
    }

    span {
        position: relative;
    }
}
